@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden !important;
  line-height: 1.2;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.red {
  color: #cc0000;
}

section {
  width: 100%;
  background: #fffde8;
}

.row {
  padding: 0 15px;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-heading h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #ffe094;
  position: relative;
  z-index: 100;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .emons-logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -25px;
  z-index: 120;
}

.header .emons-logo .menu-icon {
  margin-top: -10px;
  margin-right: 15px;
  cursor: pointer;
}

.header h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.header h3 .red {
  font-size: 30px;
}

.header-number {
  font-size: 36px;
}

.header-email {
  font-size: 24px;
}

.header .screen-devider {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-nav {
  -webkit-transform: translateX(-102%);
  transform: translateX(-102%);
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.85);
  position: absolute;
  top: 0;
  z-index: 105;
  padding-top: 150px;
  padding-right: 20px;
  padding-bottom: 25px;
  -webkit-transition: all, .7s ease-in;
  transition: all, .7s ease-in;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header-nav ul li {
  padding: 10px 0;
  position: relative;
  padding-left: calc((100vw - 1200px) / 2 + 15px);
}

.header-nav ul li:before {
  display: block;
  content: '';
  width: 75%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/menu-item__devider.png);
}

.header-nav ul li a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav ul li a:hover {
  color: #cc0000;
}

.header-nav_show {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

@media only screen and (max-width: 1199px) {
  .section-heading h2 {
    font-size: 46px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .header .container {
    width: 100%;
    padding: 0 25px;
  }
  .header .emons-logo {
    margin-top: -5px;
  }
  .header .emons-logo .menu-icon {
    margin-top: 0px;
    margin-right: 10px;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    padding-top: 150px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
  .header-nav ul li {
    padding-left: 25px;
  }
  .header-nav ul li a {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .section-heading h2 {
    font-size: 42px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .container .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header .emons-logo {
    margin-top: 0;
  }
  .header .emons-logo .logo {
    width: 130px;
  }
  .header .emons-logo .logo img {
    width: 100%;
  }
  .header .emons-logo .menu-icon {
    margin-right: 5px;
    width: 35px;
  }
  .header h3 {
    font-size: 24px;
    width: 160px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading h2 {
    font-size: 36px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header .emons-logo .menu-icon {
    width: 25px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .section-heading h2 {
    font-size: 32px;
  }
  .row {
    padding: 0 15px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header .emons-logo {
    margin-bottom: 15px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
}

.trasted {
  padding-bottom: 140px;
}

.trasted-slider {
  margin: 0 auto;
  padding: 0;
}

.trasted-slider__slide {
  outline: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trasted-slider__slide a {
  outline: none;
}

.trasted .trasted-slider__block {
  margin-top: 60px;
  position: relative;
}

.trasted .trasted-slider__nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted .trasted-slider__nav_prev {
  left: 20px;
}

.trasted .trasted-slider__nav_next {
  right: 20px;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding-bottom: 120px;
  }
  .trasted .trasted-slider__block {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding-bottom: 75px;
  }
  .trasted .trasted-slider__block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding-bottom: 50px;
  }
}

.footer {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 23px;
  background: #ffe094;
  position: relative;
}

.footer .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-number {
  text-align: right;
}

.footer-number h2 {
  font-size: 40px;
  margin: 0;
}

.footer-number span {
  font-size: 28px;
  margin-right: 45px;
}

.footer-socials {
  margin: 0 30px;
}

.footer-adress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-adress span {
  font-size: 24px;
}

.footer-copyright {
  margin-top: 70px;
}

.footer-copyright span {
  font-family: Tahoma;
  font-size: 12px;
  color: #cc0000;
}

.footer .screen-devider {
  position: absolute;
  top: -3px;
  left: 0;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 38px;
  }
  .footer-number span {
    font-size: 26px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 24px;
  }
  .footer-copyright {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 32px;
  }
  .footer-number span {
    font-size: 22px;
    margin-right: 40px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 22px;
  }
  .footer-copyright {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
  .footer-number h2 {
    font-size: 28px;
  }
  .footer-number span {
    font-size: 18px;
    margin-right: 35px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 15px;
  }
  .footer .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-number h2 {
    font-size: 26px;
  }
  .footer-number span {
    font-size: 16px;
    margin-right: 30px;
  }
  .footer-socials {
    margin: 25px 15px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    text-align: center;
  }
}

.about-us {
  padding-top: 95px;
}

.about-us__img {
  margin-top: 20px;
}

.about-us__img div {
  width: 100%;
}

.about-us__img div img {
  width: 100%;
}

.about-us__block {
  margin-top: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about-us__block-item {
  width: 570px;
}

.about-us__block-item h4 {
  margin: 0;
  font-size: 36px;
  color: #cc0000;
  margin-bottom: 15px;
}

.about-us__block-item p {
  font-size: 24px;
  margin: 0;
}

.about-us__block-item:nth-child(2) {
  margin-left: auto;
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
}

.about-us__block-item:nth-child(3) {
  -webkit-transform: translateY(-160px);
  transform: translateY(-160px);
}

.about-us__block-item:nth-child(3) h4 {
  text-align: right;
  padding-right: 45px;
}

@media only screen and (max-width: 1199px) {
  .about-us {
    padding-top: 80px;
  }
  .about-us__img {
    margin-top: 20px;
  }
  .about-us__block {
    margin-top: 50px;
  }
  .about-us__block-item {
    width: 440px;
  }
  .about-us__block-item h4 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .about-us__block-item p {
    font-size: 24px;
  }
  .about-us__block-item:nth-child(2) {
    margin-left: auto;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  .about-us__block-item:nth-child(3) {
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
  }
  .about-us__block-item:nth-child(3) h4 {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .about-us {
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .about-us__img {
    margin-top: 20px;
  }
  .about-us__block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0px;
  }
  .about-us__block-item {
    width: 90%;
    margin-top: 35px;
  }
  .about-us__block-item h4 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .about-us__block-item p {
    font-size: 24px;
  }
  .about-us__block-item:nth-child(2) {
    margin-left: 0;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .about-us__block-item:nth-child(3) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .about-us__block-item:nth-child(3) h4 {
    padding-right: 0px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-us__block-item {
    width: 95%;
    margin-top: 35px;
  }
  .about-us__block-item h4 {
    font-size: 28px;
  }
  .about-us__block-item p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 576px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-us__block-item {
    width: 95%;
    margin-top: 30px;
  }
  .about-us__block-item h4 {
    font-size: 26px;
  }
  .about-us__block-item p {
    font-size: 20px;
  }
}

.history {
  padding-top: 95px;
  padding-bottom: 100px;
}

.history__img {
  margin-top: 25px;
  margin-bottom: 70px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.history__img div {
  width: 90%;
}

.history__img div img {
  width: 100%;
}

.history__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 85px;
}

.history__block-item {
  margin-top: 30px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.history__block-item:first-child {
  margin-top: 0;
}

.history__block-item img {
  width: 100px;
}

.history__block-item p {
  margin: 0;
  margin-left: 30px;
  font-size: 24px;
}

@media only screen and (max-width: 1199px) {
  .history {
    padding-top: 75px;
    padding-bottom: 80px;
  }
  .history__img {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .history__img div {
    width: 95%;
  }
  .history__block {
    padding-left: 50px;
  }
  .history__block-item {
    margin-top: 25px;
  }
  .history__block-item img {
    width: 90px;
  }
  .history__block-item p {
    margin-left: 25px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .history {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .history__img {
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .history__img div {
    width: 95%;
  }
  .history__block {
    padding-left: 30px;
  }
  .history__block-item {
    margin-top: 25px;
  }
  .history__block-item img {
    width: 80px;
  }
  .history__block-item p {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .history {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .history__img {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .history__img div {
    width: 95%;
  }
  .history__block {
    padding-left: 15px;
  }
  .history__block-item {
    margin-top: 20px;
  }
  .history__block-item img {
    width: 60px;
  }
  .history__block-item p {
    margin-left: 15px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .history {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .history__img {
    display: none;
  }
  .history__block {
    margin-top: 30px;
    padding-left: 15px;
  }
  .history__block-item {
    margin-top: 20px;
  }
  .history__block-item img {
    width: 50px;
  }
  .history__block-item p {
    margin-left: 15px;
    font-size: 16px;
  }
}

.history {
  padding-top: 0;
}

@media only screen and (max-width: 991px) {
  .history {
    padding-top: 60px;
  }
}

.stock {
  padding-top: 75px;
  padding-bottom: 160px;
}

.stock__about {
  margin-top: 55px;
  padding: 0 45px;
}

.stock__about p {
  margin: 0;
  font-size: 24px;
}

.stock__image {
  margin-top: 20px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stock__image-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.stock__image-block .multi-transport {
  width: 100%;
}

.stock__image-block .multi-transport img {
  width: 100%;
}

.stock__image-block .transportation__arrow_left {
  position: absolute;
  left: -90px;
  bottom: -30px;
}

.stock__image-block .transportation__arrow_right {
  position: absolute;
  right: -60px;
  bottom: -95px;
}

.stock__statistic {
  margin-top: 20px;
  margin-bottom: 120px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 55px;
}

.stock__statistic-item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px 30px;
}

.stock__statistic-item h4 {
  margin: 0;
  font-size: 60px;
  color: #cc0000;
  margin-bottom: 15px;
  text-align: center;
}

.stock__statistic-item span {
  font-size: 48px;
  line-height: 0.75;
}

.stock__statistic-item:nth-child(2) {
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
}

.stock__statistic-item:nth-child(3) {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.stock__statistic-item:nth-child(5) {
  -webkit-transform: translateY(110px);
  transform: translateY(110px);
}

.stock__statistic-item:nth-child(6) {
  -webkit-transform: translate(-120px, 10px);
  transform: translate(-120px, 10px);
}

.stock__contractors {
  margin-top: 100px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stock__contractors div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media only screen and (max-width: 1199px) {
  .stock {
    padding-top: 70px;
    padding-bottom: 160px;
  }
  .stock__about {
    margin-top: 50px;
    padding: 0 30px;
  }
  .stock__about p {
    margin: 0;
    font-size: 24px;
  }
  .stock__image {
    margin-top: 25px;
  }
  .stock__image-block .multi-transport {
    width: 100%;
  }
  .stock__image-block .transportation__arrow_left {
    width: 100px;
    left: -75px;
    bottom: -30px;
  }
  .stock__image-block .transportation__arrow_right {
    width: 60px;
    right: -55px;
    bottom: -70px;
  }
  .stock__statistic {
    margin-top: 20px;
    margin-bottom: 150px;
    padding-left: 70px;
    padding-right: 35px;
  }
  .stock__statistic-item {
    margin: 30px 20px;
  }
  .stock__statistic-item h4 {
    font-size: 56px;
    margin-bottom: 10px;
  }
  .stock__statistic-item span {
    font-size: 44px;
  }
  .stock__statistic-item:nth-child(2) {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  .stock__statistic-item:nth-child(3) {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  .stock__statistic-item:nth-child(5) {
    -webkit-transform: translateY(110px);
    transform: translateY(110px);
  }
  .stock__statistic-item:nth-child(6) {
    -webkit-transform: translate(-120px, 70px);
    transform: translate(-120px, 70px);
  }
  .stock__contractors {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 991px) {
  .stock {
    padding-top: 55px;
    padding-bottom: 120px;
  }
  .stock__about {
    margin-top: 50px;
    padding: 0 20px;
  }
  .stock__about p {
    margin: 0;
    font-size: 22px;
  }
  .stock__image {
    margin-top: 25px;
  }
  .stock__image-block .multi-transport {
    width: 100%;
  }
  .stock__image-block .transportation__arrow_left {
    display: none;
  }
  .stock__image-block .transportation__arrow_right {
    display: none;
  }
  .stock__statistic {
    margin-top: 20px;
    margin-bottom: 150px;
    padding-left: 25px;
    padding-right: 15px;
  }
  .stock__statistic-item {
    margin: 30px 20px;
  }
  .stock__statistic-item h4 {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .stock__statistic-item span {
    font-size: 34px;
  }
  .stock__statistic-item:nth-child(2) {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  .stock__statistic-item:nth-child(3) {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  .stock__statistic-item:nth-child(5) {
    -webkit-transform: translateY(110px);
    transform: translateY(110px);
  }
  .stock__statistic-item:nth-child(6) {
    -webkit-transform: translate(-50px, 70px);
    transform: translate(-50px, 70px);
  }
  .stock__contractors {
    margin-top: 50px;
  }
  .stock__contractors div {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .stock__contractors div a {
    margin: 25px 35px;
  }
}

@media only screen and (max-width: 767px) {
  .stock {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .stock__about {
    margin-top: 30px;
    padding: 0 15px;
  }
  .stock__about p {
    margin: 0;
    font-size: 20px;
  }
  .stock__statistic {
    margin-top: 20px;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .stock__statistic-item {
    margin: 25px 20px;
  }
  .stock__statistic-item h4 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .stock__statistic-item span {
    font-size: 28px;
  }
  .stock__statistic-item:nth-child(2) {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  .stock__statistic-item:nth-child(3) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .stock__statistic-item:nth-child(4) {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  .stock__statistic-item:nth-child(5) {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  .stock__statistic-item:nth-child(6) {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
  }
  .stock__contractors {
    margin-top: 30px;
  }
  .stock__contractors div a {
    margin: 20px 35px;
    width: 120px;
  }
  .stock__contractors div a img {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .stock {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .stock__about {
    margin-top: 30px;
    padding: 0 15px;
  }
  .stock__about p {
    margin: 0;
    font-size: 20px;
  }
  .stock__statistic {
    margin-top: 20px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .stock__statistic-item {
    margin: 25px 20px;
  }
  .stock__statistic-item h4 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .stock__statistic-item span {
    font-size: 28px;
  }
  .stock__statistic-item:nth-child(2) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .stock__statistic-item:nth-child(3) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .stock__statistic-item:nth-child(4) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .stock__statistic-item:nth-child(5) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .stock__statistic-item:nth-child(6) {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.we-work {
  padding-top: 95px;
  padding-bottom: 90px;
}

.we-work__about {
  margin-top: 60px;
  margin-bottom: 120px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.we-work__about img {
  width: 100%;
}

.we-work__about p {
  margin: 0;
  font-size: 24px;
}

.we-work__about ul {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.we-work__about ul li {
  margin-left: 20px;
}

.we-work__guarantees {
  padding: 0 15px;
}

.we-work__guarantees-item {
  margin-top: 20px;
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.we-work__guarantees-item div {
  position: relative;
  margin-right: 15px;
}

.we-work__guarantees-item div img {
  width: 70px;
}

.we-work__guarantees-item div span {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.we-work__guarantees-item p {
  margin: 0;
  font-size: 23px;
}

@media only screen and (max-width: 1199px) {
  .we-work {
    padding-top: 95px;
  }
  .we-work__about {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .we-work__about-img {
    display: none;
  }
  .we-work__about p {
    font-size: 24px;
  }
  .we-work__about ul {
    font-size: 24px;
  }
  .we-work__about ul li {
    margin-left: 20px;
  }
  .we-work__guarantees-item div img {
    width: 65px;
  }
  .we-work__guarantees-item div span {
    font-size: 50px;
  }
  .we-work__guarantees-item p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .we-work {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .we-work__about {
    margin-top: 30px;
    margin-bottom: 75px;
  }
  .we-work__about-img {
    display: none;
  }
  .we-work__about p {
    font-size: 20px;
  }
  .we-work__about ul {
    font-size: 20px;
  }
  .we-work__about ul li {
    margin-left: 20px;
  }
  .we-work__guarantees-item div img {
    width: 60px;
  }
  .we-work__guarantees-item div span {
    font-size: 42px;
  }
  .we-work__guarantees-item p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .we-work {
    padding-top: 75px;
  }
  .we-work__about {
    margin-top: 30px;
    margin-bottom: 75px;
  }
  .we-work__about-img {
    display: none;
  }
  .we-work__about p {
    font-size: 18px;
  }
  .we-work__about ul {
    font-size: 18px;
  }
  .we-work__about ul li {
    margin-left: 20px;
  }
  .we-work__guarantees-item div img {
    width: 50px;
  }
  .we-work__guarantees-item div span {
    font-size: 30px;
  }
  .we-work__guarantees-item p {
    font-size: 18px;
  }
}

.we-work {
  padding-top: 20px;
}

@media only screen and (max-width: 991px) {
  .we-work {
    padding-top: 0;
  }
}
