@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden !important;
  padding-top: 87px;
  line-height: 1.2;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.red {
  color: #cc0000;
}

section {
  width: 100%;
  background: #fffde8;
}

.row {
  padding: 0 15px;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-heading h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .emons-logo {
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -15px;
}

.header .emons-logo .menu-icon {
  margin-top: -10px;
  margin-right: 15px;
  cursor: pointer;
  z-index: 120;
}

.header .emons-logo .logo {
  z-index: 120;
}

.header h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.header h3 .red {
  font-size: 30px;
}

.header__number-mail {
  line-height: 1;
}

.header-number {
  font-size: 36px;
}

.header-email {
  font-size: 24px;
}

.header .screen-devider {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-nav {
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.85);
  position: absolute;
  top: 86px;
  left: -40px;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 25px;
  -webkit-transform: translateX(-1500px);
  transform: translateX(-1500px);
  -webkit-transition: all, .7s;
  transition: all, .7s;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header-nav ul li {
  padding: 10px 0;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-nav ul li:before {
  display: block;
  content: '';
  width: 0%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0px;
  background: url(../img/menu-item__devider.png);
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav ul li a {
  margin: 0;
  width: 350px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav ul li a:hover {
  color: #cc0000;
}

.header-nav ul li a:hover:before {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.header-nav ul li img {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-filter: grayscale(200%);
  filter: grayscale(200%);
  opacity: 0;
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav_show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header-nav_show ul li:before {
  width: 83%;
  left: -110px;
}

.header-nav_show ul li a {
  opacity: 1;
}

.header-nav_show ul li img {
  opacity: 1;
}

@media only screen and (max-width: 1199px) {
  body {
    padding-top: 85px;
  }
  .section-heading h2 {
    font-size: 46px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .header .container {
    width: 100%;
    padding: 0 25px;
  }
  .header .emons-logo {
    margin-top: -5px;
  }
  .header .emons-logo .menu-icon {
    margin-top: 0px;
    margin-right: 10px;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    padding-top: 18px;
    padding-bottom: 25px;
    top: 80px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 95px;
  }
  .section-heading h2 {
    font-size: 42px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header .emons-logo {
    margin-top: 0;
  }
  .header .emons-logo .logo {
    width: 130px;
  }
  .header .emons-logo .logo img {
    width: 100%;
  }
  .header .emons-logo .menu-icon {
    margin-right: 5px;
    width: 35px;
  }
  .header h3 {
    font-size: 24px;
    width: 160px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
    top: 74px;
    left: -30px;
  }
  .header-nav ul {
    top: -25px;
  }
  .header-nav ul li {
    padding: 7px 0;
  }
  .header-nav ul li a {
    width: 325px;
    font-size: 22px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 75px;
  }
  .section-heading h2 {
    font-size: 36px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header .emons-logo .menu-icon {
    width: 25px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
  .header-nav {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    padding-top: 9px;
    padding-left: 25px;
    padding-right: 15px;
    top: 60px;
    left: -25px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    width: 294px;
    font-size: 20px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 576px) {
  body {
    padding-top: 60px;
  }
  .section-heading h2 {
    font-size: 32px;
  }
  .row {
    padding: 0 15px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 13px;
  }
  .header .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header .emons-logo {
    position: static;
  }
  .header .emons-logo .logo {
    width: 75px;
  }
  .header h3 {
    width: 115px;
    font-size: 14px;
  }
  .header h3 .red {
    font-size: 16px;
  }
  .header-number {
    font-size: 14px;
  }
  .header-email {
    font-size: 14px;
    margin-right: 10px;
  }
  .header-nav {
    padding-top: 5px;
    padding-bottom: 25px;
    left: 0;
    top: 61px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    font-size: 20px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 430px) {
  body {
    padding-top: 88px;
  }
  .header__number-mail {
    width: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
  }
  .header-nav {
    padding-top: 7px;
    padding-bottom: 25px;
    left: 0;
    top: 87px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    font-size: 20px;
    width: 82vw;
  }
}

.trasted {
  padding-bottom: 275px;
}

.trasted-slider {
  margin: 0 auto;
  padding: 0;
}

.trasted-slider__slide {
  outline: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trasted-slider__slide a {
  outline: none;
}

.trasted .trasted-slider__block {
  margin-top: 60px;
  position: relative;
}

.trasted .trasted-slider__nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted .trasted-slider__nav_prev {
  left: 20px;
}

.trasted .trasted-slider__nav_next {
  right: 20px;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding-bottom: 240px;
  }
  .trasted .trasted-slider__block {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding-bottom: 210px;
  }
  .trasted .trasted-slider__block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding-bottom: 200px;
  }
}

@media only screen and (max-width: 448px) {
  .trasted {
    padding-bottom: 275px;
  }
}

.btn-to-top {
  position: fixed;
  bottom: 15px;
  right: -100px;
  z-index: 500;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.btn-to-top img {
  width: 75px;
}

.btn-to-top.show {
  right: 15px;
}

@media only screen and (max-width: 991px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top img {
    width: 50px;
  }
  .btn-to-top.show {
    right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top img {
    width: 50px;
  }
  .btn-to-top.show {
    right: 10px;
  }
}

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  -webkit-transform: translateY(115%);
  transform: translateY(115%);
  -webkit-transition: all, 0.5s ease-out;
  transition: all, 0.5s ease-out;
}

.footer .row {
  z-index: 20;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-number {
  text-align: right;
}

.footer-number h2 {
  font-size: 40px;
  margin: 0;
}

.footer-number span {
  font-size: 28px;
  margin-right: 45px;
}

.footer-socials {
  margin: 0 30px;
}

.footer-adress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-adress span {
  font-size: 24px;
}

.footer-copyright {
  margin-top: 40px;
}

.footer-copyright span {
  font-family: Tahoma;
  font-size: 12px;
  color: #cc0000;
}

.footer .screen-devider {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 10;
}

.footer:hover {
  -webkit-transform: translateY(103%);
  transform: translateY(103%);
}

.footer.show_scroll {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer.show_scroll .footer-btn_show {
  top: -51px;
  opacity: 0;
}

.footer.show_click {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer.show_click .footer-btn_show {
  top: -51px;
}

.footer.show_click .footer-btn_show .footer-btn_open {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}

.footer.show_click .footer-btn_show .footer-btn_close {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  display: none;
}

.footer-btn_show {
  position: absolute;
  top: -51px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow-x: hidden;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.footer-btn_show img {
  width: 250px;
}

.footer-btn_show span {
  position: absolute;
  top: 30% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.footer-btn_show .footer-btn_open {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  display: none;
}

.footer-btn_show .footer-btn_close {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 38px;
  }
  .footer-number span {
    font-size: 26px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  .footer-adress span {
    font-size: 24px;
  }
  .footer-copyright {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translateY(112%);
    transform: translateY(112%);
  }
  .footer-number h2 {
    font-size: 32px;
  }
  .footer-number span {
    font-size: 22px;
    margin-right: 40px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .footer-adress span {
    font-size: 22px;
  }
  .footer.show_scroll .footer-btn_show {
    top: -40px;
  }
  .footer.show_click .footer-btn_show {
    top: -40px;
  }
  .footer-btn_show {
    top: -40px;
  }
  .footer-btn_show img {
    width: 200px;
  }
  .footer-btn_show span {
    top: 25% !important;
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }
  .footer-number h2 {
    font-size: 28px;
  }
  .footer-number span {
    font-size: 18px;
    margin-right: 35px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer.show_scroll .footer-btn_show {
    top: -35px;
  }
  .footer.show_click .footer-btn_show {
    top: -35px;
  }
  .footer-btn_show {
    top: -35px;
  }
  .footer-btn_show img {
    width: 175px;
  }
  .footer-btn_show span {
    top: 20% !important;
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-number h2 {
    font-size: 26px;
  }
  .footer-number span {
    font-size: 16px;
    margin-right: 30px;
  }
  .footer-socials {
    margin: 25px 15px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    margin-top: 15px;
    text-align: center;
  }
}

.emons-forms {
  position: relative;
}

.emons-forms:before {
  display: block;
  content: '';
  width: 13px;
  height: 88%;
  background: url(../img/modal-form__border_left.png);
  position: absolute;
  top: 0;
  left: 15px;
}

.emons-forms:after {
  display: block;
  content: '';
  width: 98%;
  height: 18px;
  background: url(../img/modal-form__border_bottom.png);
  position: absolute;
  bottom: 9px;
  left: 10px;
}

.emons-forms__stamp {
  opacity: 0;
  position: absolute;
  -webkit-animation-name: emonsFormStamp;
  animation-name: emonsFormStamp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes emonsFormStamp {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes emonsFormStamp {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.articles {
  padding-bottom: 120px;
}

.articles__filter {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: -5px;
}

.articles__filter-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.articles__filter-block img {
  width: 37px;
  cursor: pointer;
  z-index: 75;
}

.articles__filter-block span {
  font-size: 30px;
  line-height: 0.75;
  margin-left: 15px;
  z-index: 75;
}

.articles__filter-block .articles__filter-categories {
  position: absolute;
  top: -33px;
  left: -40px;
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.85);
  z-index: 50;
  padding-top: 90px;
  padding-left: 0px;
  padding-right: 0px;
  list-style: none;
  overflow-x: hidden;
  width: 0;
  -webkit-transition: all, .5s ease-in;
  transition: all, .5s ease-in;
}

.articles__filter-block .articles__filter-categories li {
  min-width: 100%;
  padding: 10px 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
}

.articles__filter-block .articles__filter-categories li span {
  min-width: 100%;
  font-size: 24px;
  color: #000;
  -webkit-transition: all, .3s;
  transition: all, .3s;
  line-height: 1.2;
}

.articles__filter-block .articles__filter-categories li img {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-filter: grayscale(200%);
  filter: grayscale(200%);
}

.articles__filter-block .articles__filter-categories li:after {
  display: block;
  content: '';
  width: 63%;
  height: 5px;
  background: url(../img/menu-item__devider.png);
  position: absolute;
  bottom: 0;
  left: -110px;
}

.articles__filter-block .articles__filter-categories li.active span {
  color: #cc0000;
}

.articles__filter-block .articles__filter-categories li.active img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.articles__filter-block .articles__filter-categories_show {
  width: 385px;
  padding-left: 40px;
  padding-right: 20px;
  overflow-x: visible;
}

.articles .section-heading {
  margin-top: 38px;
}

.articles__item {
  margin-top: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.articles__item-img img {
  max-width: 90%;
}

.articles__item-discr {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 80px;
}

.articles__item-discr .article__heading-block {
  margin-bottom: 20px;
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.articles__item-discr .article__heading-block .article-ttl {
  font-size: 36px;
  color: #cc0000;
}

.articles__item-discr .article__heading-block span {
  font-size: 24px;
  margin-right: 20px;
}

.articles__item-discr .article__info p {
  margin: 0;
  font-size: 24px;
}

.articles__pages-nav {
  margin-top: 65px;
  padding-left: 200px;
  font-size: 30px;
}

.articles__pages-nav a {
  margin: 0 5px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.articles__pages-nav a:hover {
  color: #cc0000;
}

.articles__form {
  margin-top: 95px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.articles__form-block {
  padding: 55px 45px 50px 50px;
  -webkit-box-shadow: 0px 0px 30px 20px #f9edd1;
  box-shadow: 0px 0px 30px 20px #f9edd1;
  background: #f9edd1;
  position: relative;
}

.articles__form-block h6 {
  font-size: 24px;
}

.articles__form-block form {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.articles__form-block .input {
  width: 275px;
  margin-top: 20px;
  position: relative;
}

.articles__form-block .input input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 24px;
  font-family: BeerMoney;
  padding-left: 5px;
  outline-color: #cc0000;
}

.articles__form-block .input:after {
  display: block;
  content: '';
  width: 98%;
  height: 3px;
  background: url(../img/modal-form__input-border.png);
  position: absolute;
  bottom: 0;
  left: 0;
}

.articles__form-block label {
  margin: 0;
  font-size: 20px;
}

.articles__form-block button {
  background: transparent;
  border: none;
  padding: 0;
  font-family: BeerMoney;
  font-size: 36px;
  color: #cc0000;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
  margin-left: auto;
}

.articles__form-block .articles-form__stamp {
  top: 10px;
  right: 10px;
  width: 112px;
}

@media only screen and (max-width: 1199px) {
  .articles {
    padding-bottom: 100px;
  }
  .articles .filter-container {
    width: 100%;
  }
  .articles__filter {
    margin-top: 20px;
  }
  .articles__filter-block img {
    width: 35px;
  }
  .articles__filter-block span {
    font-size: 28px;
    margin-left: 12px;
  }
  .articles__filter-block .articles__filter-categories {
    top: -25px;
    padding-top: 78px;
  }
  .articles__filter-block .articles__filter-categories li {
    min-width: 100%;
    font-size: 28px;
    padding: 10px 0;
  }
  .articles__filter-block .articles__filter-categories li:before {
    width: 10px;
    height: 10px;
    background-size: contain;
    margin-right: 15px;
    margin-top: 10px;
  }
  .articles__filter-block .articles__filter-categories li:after {
    width: 63%;
    left: -90px;
    height: 4px;
  }
  .articles__filter-block .articles__filter-categories_show {
    width: 385px;
    padding-left: 40px;
    padding-right: 20px;
  }
  .articles .section-heading {
    margin-top: 40px;
  }
  .articles__item {
    margin-top: 40px;
  }
  .articles__item-discr {
    padding-right: 40px;
  }
  .articles__item-discr .article__heading-block {
    margin-bottom: 15px;
  }
  .articles__item-discr .article__heading-block .article-ttl {
    font-size: 34px;
  }
  .articles__item-discr .article__heading-block span {
    font-size: 24px;
    margin-right: 10px;
  }
  .articles__item-discr .article__info p {
    font-size: 24px;
  }
  .articles__pages-nav {
    margin-top: 50px;
    padding-left: 110px;
    font-size: 28px;
  }
  .articles__form {
    margin-top: 75px;
  }
  .articles__form-block {
    padding: 50px 45px 50px 60px;
  }
  .articles__form-block h6 {
    font-size: 24px;
  }
  .articles__form-block .input {
    width: 275px;
    margin-top: 20px;
  }
  .articles__form-block .input input {
    font-size: 24px;
  }
  .articles__form-block .input:after {
    width: 99%;
  }
  .articles__form-block label {
    font-size: 20px;
  }
  .articles__form-block button {
    font-size: 36px;
    margin-top: 30px;
  }
  .articles__form-block .articles-form__stamp {
    top: 5px;
    right: 5px;
    width: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .articles {
    padding-bottom: 100px;
  }
  .articles__filter-block img {
    width: 30px;
  }
  .articles__filter-block span {
    font-size: 26px;
    margin-left: 10px;
  }
  .articles__filter-block .articles__filter-categories {
    top: -25px;
    padding-top: 65px;
    left: -30px;
  }
  .articles__filter-block .articles__filter-categories li {
    padding: 7px 0;
  }
  .articles__filter-block .articles__filter-categories li span {
    font-size: 22px;
  }
  .articles__filter-block .articles__filter-categories li:after {
    width: 51%;
    left: -70px;
  }
  .articles__filter-block .articles__filter-categories_show {
    width: 350px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .articles .section-heading {
    margin-top: 30px;
  }
  .articles__item {
    margin-top: 29px;
  }
  .articles__item-discr {
    padding-right: 20px;
  }
  .articles__item-discr .article__heading-block .article-ttl {
    font-size: 28px;
  }
  .articles__item-discr .article__heading-block span {
    font-size: 22px;
    margin-right: 10px;
  }
  .articles__item-discr .article__info p {
    font-size: 20px;
  }
  .articles__pages-nav {
    margin-top: 40px;
    padding-left: 40px;
    font-size: 26px;
  }
  .articles__form {
    margin-top: 75px;
  }
  .articles__form-block {
    padding: 50px 45px 50px 60px;
  }
  .articles__form-block h6 {
    font-size: 22px;
  }
  .articles__form-block .input {
    width: 275px;
    margin-top: 10px;
  }
  .articles__form-block .input input {
    font-size: 24px;
  }
  .articles__form-block .input:after {
    width: 98%;
  }
  .articles__form-block label {
    font-size: 18px;
  }
  .articles__form-block button {
    font-size: 30px;
    margin-top: 25px;
  }
  .articles__form-block .articles-form__stamp {
    top: 5px;
    right: 5px;
    width: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .articles {
    padding-bottom: 100px;
  }
  .articles__filter {
    margin-top: 15px;
  }
  .articles__filter-block img {
    width: 25px;
  }
  .articles__filter-block span {
    font-size: 24px;
    margin-left: 10px;
  }
  .articles__filter-block .articles__filter-categories {
    top: -25px;
    padding-top: 60px;
  }
  .articles__filter-block .articles__filter-categories li {
    padding: 5px 0;
  }
  .articles__filter-block .articles__filter-categories li span {
    font-size: 20px;
  }
  .articles__filter-block .articles__filter-categories li:before {
    width: 6px;
    height: 6px;
    margin-right: 7px;
    margin-top: 9px;
  }
  .articles__filter-block .articles__filter-categories li:after {
    width: 70%;
    left: -50px;
  }
  .articles__filter-block .articles__filter-categories_show {
    width: 300px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .articles .section-heading {
    margin-top: 13px;
  }
  .articles__item {
    margin-top: 30px;
  }
  .articles__item-img {
    display: none;
  }
  .articles__item-discr {
    padding-right: 20px;
  }
  .articles__item-discr .article__heading-block {
    margin-bottom: 10px;
  }
  .articles__item-discr .article__heading-block .article-ttl {
    font-size: 28px;
  }
  .articles__item-discr .article__heading-block span {
    font-size: 22px;
    margin-right: 10px;
  }
  .articles__item-discr .article__info p {
    font-size: 20px;
  }
  .articles__pages-nav {
    margin-top: 35px;
    padding-left: 25px;
    font-size: 24px;
  }
  .articles__form {
    margin-top: 75px;
  }
  .articles__form-block {
    padding: 50px 45px 50px 60px;
  }
  .articles__form-block h6 {
    font-size: 22px;
  }
  .articles__form-block .input {
    width: 275px;
    margin-top: 10px;
  }
  .articles__form-block .input input {
    font-size: 24px;
  }
  .articles__form-block .input:after {
    width: 98%;
  }
  .articles__form-block label {
    font-size: 18px;
  }
  .articles__form-block button {
    font-size: 30px;
    margin-top: 25px;
  }
  .articles__form-block .articles-form__stamp {
    top: 5px;
    right: 5px;
    width: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .articles {
    padding-bottom: 100px;
  }
  .articles__filter-block img {
    width: 20px;
  }
  .articles__filter-block span {
    font-size: 22px;
    margin-left: 10px;
  }
  .articles__filter-block .articles__filter-categories {
    top: -25px;
    padding-top: 55px;
  }
  .articles__filter-block .articles__filter-categories li {
    padding: 5px 0;
  }
  .articles__filter-block .articles__filter-categories li:after {
    width: 61%;
    left: -50px;
  }
  .articles__filter-block .articles__filter-categories_show {
    width: 270px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .articles__item {
    margin-top: 40px;
  }
  .articles__item-img {
    display: none;
  }
  .articles__item-discr {
    padding-right: 0px;
  }
  .articles__item-discr .article__heading-block {
    margin-bottom: 15px;
  }
  .articles__item-discr .article__heading-block .article-ttl {
    font-size: 22px;
  }
  .articles__item-discr .article__heading-block span {
    font-size: 18px;
    margin-right: 10px;
  }
  .articles__item-discr .article__info p {
    font-size: 20px;
  }
  .articles__pages-nav {
    margin-top: 35px;
    padding-left: 20px;
    font-size: 22px;
  }
  .articles__form {
    margin-top: 75px;
  }
  .articles__form-block {
    padding: 40px 40px 50px 50px;
  }
  .articles__form-block h6 {
    font-size: 20px;
  }
  .articles__form-block .input {
    width: 200px;
    margin-top: 10px;
  }
  .articles__form-block .input input {
    font-size: 24px;
  }
  .articles__form-block .input:after {
    width: 96%;
  }
  .articles__form-block label {
    font-size: 18px;
  }
  .articles__form-block button {
    font-size: 22px;
    margin-top: 20px;
  }
  .articles__form-block .articles-form__stamp {
    top: 5px;
    right: 5px;
    width: 75px;
  }
}
