@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden !important;
  padding-top: 140px;
}

.red {
  color: #cc0000;
}

section {
  width: 100%;
  background: #fffde8;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-heading h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

.header {
  width: 100vw;
  padding-top: 18px;
  padding-bottom: 33px;
  background: #ffe094;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .emons-logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -25px;
  z-index: 120;
}

.header .emons-logo .menu-icon {
  margin-top: -10px;
  margin-right: 15px;
  cursor: pointer;
}

.header h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.header h3 .red {
  font-size: 30px;
}

.header-number {
  font-size: 36px;
}

.header-email {
  font-size: 24px;
}

.header .screen-devider {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-nav {
  display: none;
  width: 35vw;
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.7);
  position: fixed;
  top: 0;
  left: -36vw;
  z-index: 105;
  padding-top: 175px;
  padding-bottom: 25px;
  -webkit-transition: all, .7s ease-in;
  transition: all, .7s ease-in;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header-nav ul li {
  padding: 10px 0;
  position: relative;
  padding-left: 20%;
}

.header-nav ul li:before {
  display: block;
  content: '';
  width: 70%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/menu-item__devider.png);
}

.header-nav ul li a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav ul li a:hover {
  color: #cc0000;
}

.header-nav_show {
  left: 0;
}

@media only screen and (max-width: 1199px) {
  body {
    padding-top: 120px;
  }
  .section-heading h2 {
    font-size: 46px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .header .emons-logo {
    margin-top: -25px;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 185px;
  }
  .section-heading h2 {
    font-size: 42px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .header .emons-logo {
    margin-left: 50%;
    margin-top: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
  .header .emons-logo .logo {
    width: 150px;
  }
  .header .emons-logo .logo img {
    width: 100%;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 155px;
  }
  .section-heading h2 {
    font-size: 36px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header .emons-logo {
    margin-bottom: 20px;
  }
  .header .emons-logo .logo {
    width: 120px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header h3 .red {
    font-size: 24px;
  }
  .header-number {
    font-size: 22px;
  }
  .header-email {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  body {
    padding-top: 140px;
  }
  .section-heading h2 {
    font-size: 32px;
  }
  .row {
    padding: 0 15px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header .emons-logo {
    margin-bottom: 15px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
}

@media only screen and (max-width: 438px) {
  body {
    padding-top: 195px;
  }
}

.trasted {
  padding-bottom: 140px;
}

.trasted-slider {
  margin: 0 auto;
  padding: 0;
}

.trasted-slider__slide {
  outline: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trasted-slider__slide a {
  outline: none;
}

.trasted .trasted-slider__block {
  margin-top: 60px;
  position: relative;
}

.trasted .trasted-slider__nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted .trasted-slider__nav_prev {
  left: 20px;
}

.trasted .trasted-slider__nav_next {
  right: 20px;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding-bottom: 120px;
  }
  .trasted .trasted-slider__block {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding-bottom: 75px;
  }
  .trasted .trasted-slider__block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding-bottom: 50px;
  }
}

.footer {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 23px;
  background: #ffe094;
  position: relative;
}

.footer .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-number {
  text-align: right;
}

.footer-number h2 {
  font-size: 40px;
  margin: 0;
}

.footer-number span {
  font-size: 28px;
  margin-right: 45px;
}

.footer-socials {
  margin: 0 30px;
}

.footer-adress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-adress span {
  font-size: 24px;
}

.footer-copyright {
  margin-top: 70px;
}

.footer-copyright span {
  font-family: Tahoma;
  font-size: 12px;
  color: #cc0000;
}

.footer .screen-devider {
  position: absolute;
  top: -3px;
  left: 0;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 38px;
  }
  .footer-number span {
    font-size: 26px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 24px;
  }
  .footer-copyright {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 32px;
  }
  .footer-number span {
    font-size: 22px;
    margin-right: 40px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 22px;
  }
  .footer-copyright {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
  .footer-number h2 {
    font-size: 28px;
  }
  .footer-number span {
    font-size: 18px;
    margin-right: 35px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 15px;
  }
  .footer .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-number h2 {
    font-size: 26px;
  }
  .footer-number span {
    font-size: 16px;
    margin-right: 30px;
  }
  .footer-socials {
    margin: 25px 15px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    text-align: center;
  }
}

.row {
  padding: 0 15px;
}

.logistic {
  padding-top: 77px;
  padding-bottom: 95px;
}

.logistic__ttl {
  font-size: 60px;
  color: #cc0000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logistic-item {
  position: relative;
}

.logistic-item img {
  width: 252px;
}

.logistic-item span {
  width: 90%;
  position: absolute;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
}

.logistic__ttl-ukraine {
  margin-left: 270px;
  margin-bottom: 30px;
  margin-top: 100px;
}

.logistic__ukraine {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logistic__ukraine .logistic-item:nth-child(2) {
  -webkit-transform: translateY(85px) rotate(20deg);
  transform: translateY(85px) rotate(20deg);
}

.logistic__ukraine .logistic-item:nth-child(3) {
  -webkit-transform: translateY(15px) rotate(-15deg);
  transform: translateY(15px) rotate(-15deg);
}

.logistic__ukraine .logistic-item:nth-child(4) {
  -webkit-transform: translateY(60px) rotate(0deg);
  transform: translateY(60px) rotate(0deg);
}

.logistic__ttl-europe {
  margin-left: 528px;
  margin-top: 180px;
  margin-bottom: 50px;
}

.logistic__europe {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logistic__europe .logistic-item {
  margin: 0 25px;
}

.logistic__europe .logistic-item:nth-child(1) {
  -webkit-transform: translateY(-10px) rotate(-15deg);
  transform: translateY(-10px) rotate(-15deg);
}

.logistic__europe .logistic-item:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(5deg);
  transform: translateY(-10px) rotate(5deg);
}

.logistic__ttl-asia {
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: 470px;
}

.logistic__asia {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.logistic__asia .logistic-item {
  margin: 25px 50px;
}
