@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden !important;
  padding-top: 87px;
  line-height: 1.2;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.red {
  color: #cc0000;
}

section {
  width: 100%;
  background: #fffde8;
}

.row {
  padding: 0 15px;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-heading h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .emons-logo {
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -15px;
}

.header .emons-logo .menu-icon {
  margin-top: -10px;
  margin-right: 15px;
  cursor: pointer;
  z-index: 120;
}

.header .emons-logo .logo {
  z-index: 120;
}

.header h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.header h3 .red {
  font-size: 30px;
}

.header__number-mail {
  line-height: 1;
}

.header-number {
  font-size: 36px;
}

.header-email {
  font-size: 24px;
}

.header .screen-devider {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-nav {
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.85);
  position: absolute;
  top: 86px;
  left: -40px;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 25px;
  -webkit-transform: translateX(-1500px);
  transform: translateX(-1500px);
  -webkit-transition: all, .7s;
  transition: all, .7s;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header-nav ul li {
  padding: 10px 0;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-nav ul li:before {
  display: block;
  content: '';
  width: 0%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0px;
  background: url(../img/menu-item__devider.png);
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav ul li a {
  margin: 0;
  width: 350px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav ul li a:hover {
  color: #cc0000;
}

.header-nav ul li a:hover:before {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.header-nav ul li img {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-filter: grayscale(200%);
  filter: grayscale(200%);
  opacity: 0;
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav_show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header-nav_show ul li:before {
  width: 83%;
  left: -110px;
}

.header-nav_show ul li a {
  opacity: 1;
}

.header-nav_show ul li img {
  opacity: 1;
}

@media only screen and (max-width: 1199px) {
  body {
    padding-top: 85px;
  }
  .section-heading h2 {
    font-size: 46px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .header .container {
    width: 100%;
    padding: 0 25px;
  }
  .header .emons-logo {
    margin-top: -5px;
  }
  .header .emons-logo .menu-icon {
    margin-top: 0px;
    margin-right: 10px;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    padding-top: 18px;
    padding-bottom: 25px;
    top: 80px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 95px;
  }
  .section-heading h2 {
    font-size: 42px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header .emons-logo {
    margin-top: 0;
  }
  .header .emons-logo .logo {
    width: 130px;
  }
  .header .emons-logo .logo img {
    width: 100%;
  }
  .header .emons-logo .menu-icon {
    margin-right: 5px;
    width: 35px;
  }
  .header h3 {
    font-size: 24px;
    width: 160px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
    top: 74px;
    left: -30px;
  }
  .header-nav ul {
    top: -25px;
  }
  .header-nav ul li {
    padding: 7px 0;
  }
  .header-nav ul li a {
    width: 325px;
    font-size: 22px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .section-heading h2 {
    font-size: 36px;
  }
  .header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header .emons-logo .menu-icon {
    width: 25px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
  .header-nav {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    padding-top: 9px;
    padding-left: 25px;
    padding-right: 15px;
    top: 60px;
    left: -25px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    width: 294px;
    font-size: 20px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 576px) {
  body {
    padding-top: 0px;
  }
  .section-heading h2 {
    font-size: 32px;
  }
  .row {
    padding: 0 15px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 13px;
  }
  .header .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header .emons-logo {
    position: static;
  }
  .header .emons-logo .logo {
    width: 75px;
  }
  .header h3 {
    width: 115px;
    font-size: 14px;
  }
  .header h3 .red {
    font-size: 16px;
  }
  .header-number {
    font-size: 14px;
  }
  .header-email {
    font-size: 14px;
    margin-right: 10px;
  }
  .header-nav {
    padding-top: 5px;
    padding-bottom: 25px;
    left: 0;
    top: 61px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    font-size: 20px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 430px) {
  body {
    padding-top: 0px;
  }
  .header__number-mail {
    width: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
  }
  .header-nav {
    padding-top: 7px;
    padding-bottom: 25px;
    left: 0;
    top: 87px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    font-size: 20px;
    width: 82vw;
  }
}

.trasted {
  padding-bottom: 275px;
}

.trasted-slider {
  margin: 0 auto;
  padding: 0;
}

.trasted-slider__slide {
  outline: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trasted-slider__slide a {
  outline: none;
}

.trasted .trasted-slider__block {
  margin-top: 60px;
  position: relative;
}

.trasted .trasted-slider__nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted .trasted-slider__nav_prev {
  left: 20px;
}

.trasted .trasted-slider__nav_next {
  right: 20px;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding-bottom: 240px;
  }
  .trasted .trasted-slider__block {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding-bottom: 210px;
  }
  .trasted .trasted-slider__block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding-bottom: 200px;
  }
}

@media only screen and (max-width: 448px) {
  .trasted {
    padding-bottom: 275px;
  }
}

.btn-to-top {
  position: fixed;
  bottom: 15px;
  right: -100px;
  z-index: 500;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.btn-to-top img {
  width: 55px;
}

.btn-to-top.show {
  left: 20px;
}

@media only screen and (max-width: 1199px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top.show {
    left: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top.show {
    left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top.show {
    left: 5px;
  }
}

@media only screen and (max-width: 576px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top.show {
    left: 5px;
  }
}

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  -webkit-transform: translateY(115%);
  transform: translateY(115%);
  -webkit-transition: all, 0.5s ease-out;
  transition: all, 0.5s ease-out;
}

.footer .row {
  z-index: 20;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-number {
  text-align: right;
}

.footer-number h2 {
  font-size: 40px;
  margin: 0;
}

.footer-number span {
  font-size: 28px;
  margin-right: 45px;
}

.footer-socials {
  margin: 0 30px;
}

.footer-adress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-adress span {
  font-size: 24px;
}

.footer-copyright {
  margin-top: 40px;
}

.footer-copyright span {
  font-family: Tahoma;
  font-size: 12px;
  color: #cc0000;
}

.footer .screen-devider {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 10;
}

.footer:hover {
  -webkit-transform: translateY(103%);
  transform: translateY(103%);
}

.footer.show_scroll {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer.show_scroll .footer-btn_show {
  top: -51px;
  display: none;
}

.footer.show_click {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer.show_click .footer-btn_show {
  top: -51px;
}

.footer.show_click .footer-btn_show .footer-btn_open {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}

.footer.show_click .footer-btn_show .footer-btn_close {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  display: none;
}

.footer-btn_show {
  position: absolute;
  top: -51px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow-x: hidden;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.footer-btn_show img {
  width: 250px;
}

.footer-btn_show span {
  position: absolute;
  top: 30% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.footer-btn_show .footer-btn_open {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  display: none;
}

.footer-btn_show .footer-btn_close {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 38px;
  }
  .footer-number span {
    font-size: 26px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  .footer-adress span {
    font-size: 24px;
  }
  .footer-copyright {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translateY(112%);
    transform: translateY(112%);
  }
  .footer-number h2 {
    font-size: 32px;
  }
  .footer-number span {
    font-size: 22px;
    margin-right: 40px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .footer-adress span {
    font-size: 22px;
  }
  .footer.show_scroll .footer-btn_show {
    top: -40px;
  }
  .footer.show_click .footer-btn_show {
    top: -40px;
  }
  .footer-btn_show {
    top: -40px;
  }
  .footer-btn_show img {
    width: 200px;
  }
  .footer-btn_show span {
    top: 25% !important;
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }
  .footer-number h2 {
    font-size: 28px;
  }
  .footer-number span {
    font-size: 18px;
    margin-right: 35px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer.show_scroll .footer-btn_show {
    top: -35px;
  }
  .footer.show_click .footer-btn_show {
    top: -35px;
  }
  .footer-btn_show {
    top: -35px;
  }
  .footer-btn_show img {
    width: 175px;
  }
  .footer-btn_show span {
    top: 20% !important;
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-number h2 {
    font-size: 26px;
  }
  .footer-number span {
    font-size: 16px;
    margin-right: 30px;
  }
  .footer-socials {
    margin: 25px 15px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    margin-top: 15px;
    text-align: center;
  }
}

.emons-map {
  width: 100%;
  height: 600px;
  background: url(../img/emons-map.png) no-repeat center/cover;
}

@media only screen and (max-width: 1199px) {
  .emons-map {
    height: 550px;
  }
}

@media only screen and (max-width: 991px) {
  .emons-map {
    height: 500px;
  }
}

@media only screen and (max-width: 767px) {
  .emons-map {
    height: 400px;
  }
}

@media only screen and (max-width: 576px) {
  .emons-map {
    height: 250px;
  }
}

body {
  overflow-x: hidden !important;
}

.auxiliary-menu {
  position: fixed;
  top: 100px;
  right: 5px;
  z-index: 200;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.auxiliary-menu .show-ax-menu__btn {
  display: none;
}

.auxiliary-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.auxiliary-menu ul li a {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.auxiliary-menu ul li a img {
  width: 50px;
}

.auxiliary-menu ul li a span {
  font-size: 24px;
  color: #000;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.auxiliary-menu ul li a:hover span {
  color: #cc0000;
}

.auxiliary-menu.show {
  -webkit-transform: translateX(65px);
  transform: translateX(65px);
}

.auxiliary-menu:hover {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (max-width: 1199px) {
  .auxiliary-menu {
    top: 95px;
  }
  .auxiliary-menu ul li a img {
    width: 40px;
  }
  .auxiliary-menu ul li a span {
    font-size: 22px;
  }
  .auxiliary-menu.show {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 991px) {
  .auxiliary-menu {
    top: 115px;
  }
  .auxiliary-menu ul li {
    margin: 5px 0;
  }
  .auxiliary-menu ul li a img {
    width: 40px;
  }
  .auxiliary-menu ul li a span {
    font-size: 20px;
  }
  .auxiliary-menu.show {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 767px) {
  .auxiliary-menu {
    top: 31%;
    right: 10px;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  .auxiliary-menu nav {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .auxiliary-menu .show-ax-menu__btn {
    display: block;
    width: 55px;
    z-index: 1000;
    cursor: pointer;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all, .5s;
    transition: all, .5s;
  }
  .auxiliary-menu ul {
    z-index: 500;
    width: 190px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: rgba(255, 224, 148, 0.85);
    -webkit-box-shadow: 0px 0px 25px 10px #f9edd1;
    box-shadow: 0px 0px 25px 10px #f9edd1;
  }
  .auxiliary-menu ul li {
    width: 90px;
    margin: 10px 0;
  }
  .auxiliary-menu ul li a img {
    width: 40px;
  }
  .auxiliary-menu ul li a span {
    font-size: 18px;
  }
  .auxiliary-menu.show_mobile {
    -webkit-transform: translateX(0px) !important;
    transform: translateX(0px) !important;
  }
  .auxiliary-menu.show_mobile .show-ax-menu__btn {
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
  }
  .auxiliary-menu.show {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  .auxiliary-menu:hover {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
}

@media only screen and (max-width: 576px) {
  .auxiliary-menu {
    top: 70px;
  }
}

@media only screen and (max-width: 430px) {
  .auxiliary-menu {
    top: 100px;
    right: 3px;
  }
}

.geography {
  padding-bottom: 90px;
}

@media only screen and (max-width: 991px) {
  .geography {
    padding-bottom: 75px;
  }
}

.services {
  padding-top: 100px;
  padding-bottom: 120px;
}

.services__heading h2 {
  font-size: 46px;
}

.services__block {
  margin-top: 40px;
  margin-bottom: 140px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__block-item-cover {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 35px 0;
}

.services__block-item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-decoration: none;
  height: 330px;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.services__block-item img {
  width: 95%;
  height: auto;
}

.services__block-item p {
  margin: 0;
  margin-top: 15px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #000;
  line-height: 1;
}

.services__block-item:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.services__lists {
  margin-top: 50px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services__lists ul {
  margin: 0 40px;
  padding: 0;
  list-style: none;
}

.services__lists ul li {
  font-size: 30px;
  margin: 25px 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 0.75;
}

.services__lists ul li:before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/dot_red.png);
  margin-right: 15px;
  margin-top: 4px;
}

@media only screen and (max-width: 1199px) {
  .services {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .services__heading h2 {
    font-size: 46px;
  }
  .services__block {
    margin-top: 40px;
    margin-bottom: 110px;
  }
  .services__block-item-cover {
    margin: 20px 0;
  }
  .services__block-item {
    height: 300px;
  }
  .services__block-item p {
    margin-top: 10px;
    font-size: 26px;
  }
  .services__lists {
    margin-top: 30px;
  }
  .services__lists ul {
    margin: 0 35px;
  }
  .services__lists ul li {
    font-size: 28px;
    margin: 20px 0;
  }
  .services__lists ul li:before {
    margin-right: 10px;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 991px) {
  .services {
    padding-top: 75px;
    padding-bottom: 100px;
  }
  .services__heading h2 {
    font-size: 42px;
  }
  .services__block {
    margin-top: 30px;
    margin-bottom: 80px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .services__block-item {
    height: 300px;
  }
  .services__block-item p {
    margin-top: 10px;
    font-size: 24px;
  }
  .services__lists {
    margin-top: 30px;
  }
  .services__lists ul {
    margin: 0 20px;
  }
  .services__lists ul li {
    font-size: 22px;
    margin: 10px 0;
  }
  .services__lists ul li:before {
    width: 8px;
    height: 8px;
    background-size: contain;
    margin-right: 10px;
    margin-top: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .services {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .services__heading h2 {
    font-size: 36px;
  }
  .services__block {
    margin-top: 20px;
    margin-bottom: 75px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .services__block-item-cover {
    margin: 10px 0;
  }
  .services__block-item {
    height: 250px;
  }
  .services__block-item p {
    margin-top: 10px;
    font-size: 22px;
  }
  .services__lists {
    margin-top: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .services__lists ul {
    margin: 0 30px;
  }
  .services__lists ul li {
    font-size: 20px;
    margin: 10px 0;
  }
  .services__lists ul li:before {
    width: 5px;
    height: 5px;
    margin-right: 7px;
    margin-top: 2px;
  }
  .services__lists ul:nth-child(2) {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 576px) {
  .services {
    padding-bottom: 80px;
  }
  .services__heading h2 {
    font-size: 26px;
  }
  .services__block {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .services__block-item {
    width: 290px;
    height: 260px;
  }
  .services__block-item p {
    margin-top: 10px;
    font-size: 22px;
  }
  .services__lists {
    margin-top: 30px;
  }
  .services__lists ul {
    margin: 0 25px;
  }
  .services__lists ul li {
    font-size: 20px;
    margin: 10px 0;
  }
  .services__lists ul li:before {
    width: 5px;
    height: 5px;
    margin-right: 7px;
    margin-top: 2px;
  }
  .services__lists ul:nth-child(2) {
    margin-top: -10px;
  }
}

.services {
  padding-top: 0px;
  padding-bottom: 90px;
}

.services__block {
  margin-bottom: 0;
}

@media only screen and (max-width: 1199px) {
  .services {
    margin-top: -10px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 991px) {
  .services {
    margin-top: -30px;
    padding-bottom: 75px;
  }
}

@media only screen and (max-width: 767px) {
  .services {
    margin-top: -40px;
    padding-bottom: 50px;
  }
}

.facts {
  padding: 65px 0;
  background: #ffe096;
  position: relative;
}

.facts__block {
  margin-top: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.facts__block-item {
  width: 270px;
  margin: 20px 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.facts__block-item img {
  max-width: 95%;
}

.facts__block-item h6 {
  width: 100%;
  text-align: center;
  font-size: 34px;
  margin: 0;
  margin-top: 30px;
}

.facts__block-item span {
  font-size: 50px;
  color: #cc0000;
  text-align: center;
  line-height: 0.75;
}

.facts__block-item span code {
  background: transparent;
  color: #cc0000;
}

.facts__block-item:nth-child(2) {
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}

.facts .screen-devider {
  position: absolute;
  left: 0;
}

.facts .screen-devider_01 {
  top: 0;
}

.facts .screen-devider_02 {
  bottom: 0;
}

@media only screen and (max-width: 1199px) {
  .facts {
    padding: 60px 0;
  }
  .facts__block {
    margin-top: 30px;
  }
  .facts__block-item {
    width: 270px;
    margin: 20px 20px;
  }
  .facts__block-item h6 {
    font-size: 34px;
    margin-top: 25px;
  }
  .facts__block-item span {
    font-size: 50px;
  }
  .facts__block-item:nth-child(2) {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}

@media only screen and (max-width: 991px) {
  .facts {
    padding: 50px 0;
  }
  .facts__block {
    margin-top: 30px;
  }
  .facts__block-item {
    width: 270px;
    margin: 20px 20px;
  }
  .facts__block-item h6 {
    font-size: 30px;
    margin-top: 25px;
  }
  .facts__block-item span {
    font-size: 42px;
  }
  .facts__block-item:nth-child(2) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 767px) {
  .facts {
    padding: 40px 0;
  }
  .facts__block {
    margin-top: 25px;
  }
  .facts__block-item {
    width: 210px;
    margin: 20px;
  }
  .facts__block-item h6 {
    font-size: 26px;
    margin-top: 20px;
  }
  .facts__block-item span {
    font-size: 38px;
  }
}

.contact-us {
  padding-top: 90px;
  padding-bottom: 110px;
}

.contact-us__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contact-us__block-item {
  width: 280px;
  margin: 20px 30px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.contact-us__block-item img {
  max-width: 95%;
}

.contact-us__block-item span {
  font-size: 30px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.contact-us__block-item:hover span {
  color: #cc0000;
}

@media only screen and (max-width: 1199px) {
  .contact-us {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .contact-us__block-item {
    width: 260px;
    margin: 20px 20px;
  }
  .contact-us__block-item span {
    font-size: 28px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-us {
    padding-top: 75px;
    padding-bottom: 90px;
  }
  .contact-us__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact-us__block-item {
    width: 175px;
    margin: 20px 25px;
  }
  .contact-us__block-item span {
    font-size: 20px;
  }
}

.video-presentation {
  -webkit-transform: translateX(-102%);
  transform: translateX(-102%);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .9s ease-out;
  transition: all, .9s ease-out;
}

.video-presentation__block {
  width: 75%;
  position: relative;
}

.video-presentation__block .tv-image {
  max-width: 100%;
}

.video-presentation__block .tv-image_close {
  cursor: pointer;
  width: 52px;
  position: absolute;
  top: 15%;
  left: 48%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.video-presentation.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (max-width: 1199px) {
  .video-presentation__block .tv-image_close {
    width: 50px;
    top: 15%;
    left: 48%;
  }
}

@media only screen and (max-width: 991px) {
  .video-presentation__block .tv-image_close {
    width: 45px;
    top: 13%;
  }
}

@media only screen and (max-width: 767px) {
  .video-presentation__block .tv-image_close {
    width: 40px;
    top: 10%;
  }
}
