@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden !important;
  line-height: 1.2;
}

.red {
  color: #cc0000;
}

section {
  width: 100%;
  background: #fffde8;
}

.row {
  padding: 0 15px;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-heading h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #ffe094;
  position: relative;
  z-index: 100;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .emons-logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -25px;
  z-index: 120;
}

.header .emons-logo .menu-icon {
  margin-top: -10px;
  margin-right: 15px;
  cursor: pointer;
}

.header h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.header h3 .red {
  font-size: 30px;
}

.header-number {
  font-size: 36px;
}

.header-email {
  font-size: 24px;
}

.header .screen-devider {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-nav {
  display: none;
  width: 35vw;
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.7);
  position: fixed;
  top: 0;
  left: -36vw;
  z-index: 105;
  padding-top: 175px;
  padding-bottom: 25px;
  -webkit-transition: all, .7s ease-in;
  transition: all, .7s ease-in;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header-nav ul li {
  padding: 10px 0;
  position: relative;
  padding-left: 20%;
}

.header-nav ul li:before {
  display: block;
  content: '';
  width: 70%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/menu-item__devider.png);
}

.header-nav ul li a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav ul li a:hover {
  color: #cc0000;
}

.header-nav_show {
  left: 0;
}

@media only screen and (max-width: 1199px) {
  .section-heading h2 {
    font-size: 46px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .header .emons-logo {
    margin-top: -25px;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .section-heading h2 {
    font-size: 42px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .header .emons-logo {
    margin-left: 50%;
    margin-top: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
  .header .emons-logo .logo {
    width: 150px;
  }
  .header .emons-logo .logo img {
    width: 100%;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading h2 {
    font-size: 36px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header .emons-logo {
    margin-bottom: 20px;
  }
  .header .emons-logo .logo {
    width: 120px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header h3 .red {
    font-size: 24px;
  }
  .header-number {
    font-size: 22px;
  }
  .header-email {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .section-heading h2 {
    font-size: 32px;
  }
  .row {
    padding: 0 15px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header .emons-logo {
    margin-bottom: 15px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
}

.trasted {
  padding-bottom: 140px;
}

.trasted-slider {
  margin: 0 auto;
  padding: 0;
}

.trasted-slider__slide {
  outline: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trasted-slider__slide a {
  outline: none;
}

.trasted .trasted-slider__block {
  margin-top: 60px;
  position: relative;
}

.trasted .trasted-slider__nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted .trasted-slider__nav_prev {
  left: 20px;
}

.trasted .trasted-slider__nav_next {
  right: 20px;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding-bottom: 120px;
  }
  .trasted .trasted-slider__block {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding-bottom: 75px;
  }
  .trasted .trasted-slider__block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding-bottom: 50px;
  }
}

.footer {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 23px;
  background: #ffe094;
  position: relative;
}

.footer .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-number {
  text-align: right;
}

.footer-number h2 {
  font-size: 40px;
  margin: 0;
}

.footer-number span {
  font-size: 28px;
  margin-right: 45px;
}

.footer-socials {
  margin: 0 30px;
}

.footer-adress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-adress span {
  font-size: 24px;
}

.footer-copyright {
  margin-top: 70px;
}

.footer-copyright span {
  font-family: Tahoma;
  font-size: 12px;
  color: #cc0000;
}

.footer .screen-devider {
  position: absolute;
  top: -3px;
  left: 0;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 38px;
  }
  .footer-number span {
    font-size: 26px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 24px;
  }
  .footer-copyright {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 32px;
  }
  .footer-number span {
    font-size: 22px;
    margin-right: 40px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 22px;
  }
  .footer-copyright {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
  .footer-number h2 {
    font-size: 28px;
  }
  .footer-number span {
    font-size: 18px;
    margin-right: 35px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 15px;
  }
  .footer .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-number h2 {
    font-size: 26px;
  }
  .footer-number span {
    font-size: 16px;
    margin-right: 30px;
  }
  .footer-socials {
    margin: 25px 15px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    text-align: center;
  }
}

.emons-forms {
  position: relative;
}

.emons-forms:before {
  display: block;
  content: '';
  width: 13px;
  height: 88%;
  background: url(../img/modal-form__border_left.png);
  position: absolute;
  top: 0;
  left: 15px;
}

.emons-forms:after {
  display: block;
  content: '';
  width: 98%;
  height: 18px;
  background: url(../img/modal-form__border_bottom.png);
  position: absolute;
  bottom: 9px;
  left: 10px;
}

.emons-forms__stamp {
  opacity: 0;
  position: absolute;
  -webkit-animation-name: emonsFormStamp;
  animation-name: emonsFormStamp;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes emonsFormStamp {
  0% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes emonsFormStamp {
  0% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.vacancy {
  padding-top: 120px;
  padding-bottom: 180px;
}

.vacancy__about {
  margin-top: 60px;
  margin-bottom: 100px;
}

.vacancy__about div {
  height: 210px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.vacancy__about div:nth-child(1) {
  padding-left: 15px;
}

.vacancy__about div:nth-child(1) span {
  font-size: 36px;
}

.vacancy__about div:nth-child(2) span {
  font-size: 48px;
  color: #cc0000;
}

.vacancy .row ul {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 48px;
  color: #cc0000;
}

.vacancy .row ul li {
  color: #000;
  margin-left: 30px;
}

.vacancy .row ul li:first-child {
  margin-top: 50px;
}

.vacancy__requirements {
  margin-top: 70px;
  margin-bottom: 120px;
}

.vacancy__interest {
  font-size: 60px;
  color: #cc0000;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .vacancy {
    padding-top: 100px;
    padding-bottom: 160px;
  }
  .vacancy__about {
    margin-top: 50px;
    margin-bottom: 75px;
  }
  .vacancy__about div {
    height: 210px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 34px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 46px;
  }
  .vacancy .row ul {
    margin-left: 25px;
    font-size: 46px;
  }
  .vacancy .row ul li {
    margin-left: 28px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 40px;
  }
  .vacancy__requirements {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .vacancy__interest {
    font-size: 56px;
  }
}

@media only screen and (max-width: 991px) {
  .vacancy {
    padding-top: 85px;
    padding-bottom: 125px;
  }
  .vacancy__about {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .vacancy__about div {
    height: 200px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 30px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 36px;
  }
  .vacancy .row ul {
    margin-left: 20px;
    font-size: 36px;
  }
  .vacancy .row ul li {
    margin-left: 28px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 40px;
  }
  .vacancy__requirements {
    margin-top: 60px;
    margin-bottom: 75px;
  }
  .vacancy__interest {
    font-size: 46px;
  }
}

@media only screen and (max-width: 767px) {
  .vacancy {
    padding-top: 75px;
    padding-bottom: 100px;
  }
  .vacancy__about {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .vacancy__about div {
    height: 170px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 24px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 28px;
  }
  .vacancy .row ul {
    margin-left: 20px;
    font-size: 28px;
  }
  .vacancy .row ul li {
    margin-left: 28px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 40px;
  }
  .vacancy__requirements {
    margin-top: 50px;
    margin-bottom: 75px;
  }
  .vacancy__interest {
    font-size: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .vacancy {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .vacancy__about {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .vacancy__about div {
    height: 110px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 16px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 18px;
  }
  .vacancy .row ul {
    margin-left: 20px;
    font-size: 20px;
  }
  .vacancy .row ul li {
    margin-left: 28px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 20px;
  }
  .vacancy__requirements {
    margin-top: 40px;
    margin-bottom: 65px;
  }
  .vacancy__interest {
    font-size: 26px;
  }
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-form_close {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 510;
}

.modal-form__block {
  z-index: 550;
  width: 770px;
  height: 370px;
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 57px;
  background: #f9edd1;
  -webkit-box-shadow: 0 0 28px 25px #f9edd1 inset;
  box-shadow: 0 0 28px 25px #f9edd1 inset;
  position: relative;
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
  -webkit-transition: all, 2s;
  transition: all, 2s;
}

.modal-form__block form {
  width: 100%;
  height: 100%;
}

.modal-form__block .input-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-form__block .input-block .input {
  margin-bottom: -4px;
  width: 370px;
  position: relative;
}

.modal-form__block .input-block .input input {
  width: 100%;
  background: transparent;
  border: none;
  outline-color: #cc0000;
  font-size: 20px;
  font-family: BeerMoney;
  padding-left: 10px;
}

.modal-form__block .input-block .input input[type=number]::-webkit-inner-spin-button,
.modal-form__block .input-block .input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-form__block .input-block .input label {
  font-size: 20px;
}

.modal-form__block .input-block .input:after {
  display: block;
  content: '';
  width: 99%;
  height: 3px;
  background: url(../img/modal-form__input-border.png);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.modal-form__block .resume img {
  margin-bottom: 10px;
  margin-right: 3px;
  cursor: pointer;
}

.modal-form__block .resume span {
  font-size: 30px;
}

.modal-form__block .send {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: auto;
}

.modal-form__block .send span {
  font-size: 48px;
  color: #cc0000;
  cursor: pointer;
}

.modal-form__block .modal-form__stamp {
  top: 15px;
  right: 45px;
}

.modal-form_show {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form_show .modal-form__block {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
