@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden !important;
  padding-top: 87px;
  line-height: 1.2;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.red {
  color: #cc0000;
}

section {
  width: 100%;
  background: #fffde8;
}

.row {
  padding: 0 15px;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-heading h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .emons-logo {
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -15px;
}

.header .emons-logo .menu-icon {
  margin-top: -10px;
  margin-right: 15px;
  cursor: pointer;
  z-index: 120;
}

.header .emons-logo .logo {
  z-index: 120;
}

.header h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.header h3 .red {
  font-size: 30px;
}

.header__number-mail {
  line-height: 1;
}

.header-number {
  font-size: 36px;
}

.header-email {
  font-size: 24px;
}

.header .screen-devider {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-nav {
  min-height: 100vh;
  background: rgba(255, 224, 148, 0.85);
  position: absolute;
  top: 86px;
  left: -40px;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 25px;
  -webkit-transform: translateX(-1500px);
  transform: translateX(-1500px);
  -webkit-transition: all, .7s;
  transition: all, .7s;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.header-nav ul li {
  padding: 10px 0;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-nav ul li:before {
  display: block;
  content: '';
  width: 0%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0px;
  background: url(../img/menu-item__devider.png);
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav ul li a {
  margin: 0;
  width: 350px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav ul li a:hover {
  color: #cc0000;
}

.header-nav ul li a:hover:before {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.header-nav ul li img {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-filter: grayscale(200%);
  filter: grayscale(200%);
  opacity: 0;
  -webkit-transition: all, .5s .7s;
  transition: all, .5s .7s;
}

.header-nav_show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header-nav_show ul li:before {
  width: 83%;
  left: -110px;
}

.header-nav_show ul li a {
  opacity: 1;
}

.header-nav_show ul li img {
  opacity: 1;
}

@media only screen and (max-width: 1199px) {
  body {
    padding-top: 85px;
  }
  .section-heading h2 {
    font-size: 46px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .header .container {
    width: 100%;
    padding: 0 25px;
  }
  .header .emons-logo {
    margin-top: -5px;
  }
  .header .emons-logo .menu-icon {
    margin-top: 0px;
    margin-right: 10px;
  }
  .header h3 {
    font-size: 24px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    padding-top: 18px;
    padding-bottom: 25px;
    top: 80px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 95px;
  }
  .section-heading h2 {
    font-size: 42px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header .emons-logo {
    margin-top: 0;
  }
  .header .emons-logo .logo {
    width: 130px;
  }
  .header .emons-logo .logo img {
    width: 100%;
  }
  .header .emons-logo .menu-icon {
    margin-right: 5px;
    width: 35px;
  }
  .header h3 {
    font-size: 24px;
    width: 160px;
  }
  .header h3 .red {
    font-size: 30px;
  }
  .header-number {
    font-size: 28px;
  }
  .header-email {
    font-size: 24px;
  }
  .header-nav {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
    top: 74px;
    left: -30px;
  }
  .header-nav ul {
    top: -25px;
  }
  .header-nav ul li {
    padding: 7px 0;
  }
  .header-nav ul li a {
    width: 325px;
    font-size: 22px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 75px;
  }
  .section-heading h2 {
    font-size: 36px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header .emons-logo .logo {
    width: 100px;
  }
  .header .emons-logo .menu-icon {
    width: 25px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header h3 .red {
    font-size: 22px;
  }
  .header-number {
    font-size: 20px;
  }
  .header-email {
    font-size: 18px;
  }
  .header-nav {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    padding-top: 9px;
    padding-left: 25px;
    padding-right: 15px;
    top: 60px;
    left: -25px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    width: 294px;
    font-size: 20px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 576px) {
  body {
    padding-top: 60px;
  }
  .section-heading h2 {
    font-size: 32px;
  }
  .row {
    padding: 0 15px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 13px;
  }
  .header .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header .emons-logo {
    position: static;
  }
  .header .emons-logo .logo {
    width: 75px;
  }
  .header h3 {
    width: 115px;
    font-size: 14px;
  }
  .header h3 .red {
    font-size: 16px;
  }
  .header-number {
    font-size: 14px;
  }
  .header-email {
    font-size: 14px;
    margin-right: 10px;
  }
  .header-nav {
    padding-top: 5px;
    padding-bottom: 25px;
    left: 0;
    top: 61px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    font-size: 20px;
  }
  .header-nav_show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .header-nav_show ul li:before {
    width: 83%;
    left: -70px;
  }
}

@media only screen and (max-width: 430px) {
  body {
    padding-top: 88px;
  }
  .header__number-mail {
    width: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
  }
  .header-nav {
    padding-top: 7px;
    padding-bottom: 25px;
    left: 0;
    top: 87px;
  }
  .header-nav ul li {
    padding: 5px 0;
  }
  .header-nav ul li a {
    font-size: 20px;
    width: 82vw;
  }
}

.trasted {
  padding-bottom: 275px;
}

.trasted-slider {
  margin: 0 auto;
  padding: 0;
}

.trasted-slider__slide {
  outline: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trasted-slider__slide a {
  outline: none;
}

.trasted .trasted-slider__block {
  margin-top: 60px;
  position: relative;
}

.trasted .trasted-slider__nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted .trasted-slider__nav_prev {
  left: 20px;
}

.trasted .trasted-slider__nav_next {
  right: 20px;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding-bottom: 240px;
  }
  .trasted .trasted-slider__block {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding-bottom: 210px;
  }
  .trasted .trasted-slider__block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding-bottom: 200px;
  }
}

@media only screen and (max-width: 448px) {
  .trasted {
    padding-bottom: 275px;
  }
}

.btn-to-top {
  position: fixed;
  bottom: 15px;
  right: -100px;
  z-index: 500;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.btn-to-top img {
  width: 75px;
}

.btn-to-top.show {
  right: 15px;
}

@media only screen and (max-width: 991px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top img {
    width: 50px;
  }
  .btn-to-top.show {
    right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .btn-to-top {
    bottom: 10px;
  }
  .btn-to-top img {
    width: 50px;
  }
  .btn-to-top.show {
    right: 10px;
  }
}

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  -webkit-transform: translateY(115%);
  transform: translateY(115%);
  -webkit-transition: all, 0.5s ease-out;
  transition: all, 0.5s ease-out;
}

.footer .row {
  z-index: 20;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-number {
  text-align: right;
}

.footer-number h2 {
  font-size: 40px;
  margin: 0;
}

.footer-number span {
  font-size: 28px;
  margin-right: 45px;
}

.footer-socials {
  margin: 0 30px;
}

.footer-adress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-adress span {
  font-size: 24px;
}

.footer-copyright {
  margin-top: 40px;
}

.footer-copyright span {
  font-family: Tahoma;
  font-size: 12px;
  color: #cc0000;
}

.footer .screen-devider {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 10;
}

.footer:hover {
  -webkit-transform: translateY(103%);
  transform: translateY(103%);
}

.footer.show_scroll {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer.show_scroll .footer-btn_show {
  top: -51px;
  opacity: 0;
}

.footer.show_click {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer.show_click .footer-btn_show {
  top: -51px;
}

.footer.show_click .footer-btn_show .footer-btn_open {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}

.footer.show_click .footer-btn_show .footer-btn_close {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  display: none;
}

.footer-btn_show {
  position: absolute;
  top: -51px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow-x: hidden;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.footer-btn_show img {
  width: 250px;
}

.footer-btn_show span {
  position: absolute;
  top: 30% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.footer-btn_show .footer-btn_open {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  display: none;
}

.footer-btn_show .footer-btn_close {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-number h2 {
    font-size: 38px;
  }
  .footer-number span {
    font-size: 26px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  .footer-adress span {
    font-size: 24px;
  }
  .footer-copyright {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translateY(112%);
    transform: translateY(112%);
  }
  .footer-number h2 {
    font-size: 32px;
  }
  .footer-number span {
    font-size: 22px;
    margin-right: 40px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .footer-adress span {
    font-size: 22px;
  }
  .footer.show_scroll .footer-btn_show {
    top: -40px;
  }
  .footer.show_click .footer-btn_show {
    top: -40px;
  }
  .footer-btn_show {
    top: -40px;
  }
  .footer-btn_show img {
    width: 200px;
  }
  .footer-btn_show span {
    top: 25% !important;
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }
  .footer-number h2 {
    font-size: 28px;
  }
  .footer-number span {
    font-size: 18px;
    margin-right: 35px;
  }
  .footer-socials {
    margin: 0 30px;
  }
  .footer-socials img {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer.show_scroll .footer-btn_show {
    top: -35px;
  }
  .footer.show_click .footer-btn_show {
    top: -35px;
  }
  .footer-btn_show {
    top: -35px;
  }
  .footer-btn_show img {
    width: 175px;
  }
  .footer-btn_show span {
    top: 20% !important;
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-number h2 {
    font-size: 26px;
  }
  .footer-number span {
    font-size: 16px;
    margin-right: 30px;
  }
  .footer-socials {
    margin: 25px 15px;
  }
  .footer-adress span {
    font-size: 18px;
  }
  .footer-copyright {
    margin-top: 15px;
    text-align: center;
  }
}

.emons-forms {
  position: relative;
}

.emons-forms:before {
  display: block;
  content: '';
  width: 13px;
  height: 88%;
  background: url(../img/modal-form__border_left.png);
  position: absolute;
  top: 0;
  left: 15px;
}

.emons-forms:after {
  display: block;
  content: '';
  width: 98%;
  height: 18px;
  background: url(../img/modal-form__border_bottom.png);
  position: absolute;
  bottom: 9px;
  left: 10px;
}

.emons-forms__stamp {
  opacity: 0;
  position: absolute;
  -webkit-animation-name: emonsFormStamp;
  animation-name: emonsFormStamp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes emonsFormStamp {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes emonsFormStamp {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.vacancy {
  padding-top: 100px;
  padding-bottom: 180px;
}

.vacancy__about {
  margin-top: 50px;
  margin-bottom: 75px;
}

.vacancy__about div {
  height: 160px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.vacancy__about div:nth-child(1) {
  padding-left: 15px;
  margin-left: 25px;
}

.vacancy__about div:nth-child(1) span {
  font-size: 32px;
}

.vacancy__about div:nth-child(2) span {
  font-size: 38px;
  color: #cc0000;
}

.vacancy .row ul {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 48px;
  color: #cc0000;
  list-style: none;
}

.vacancy .row ul li {
  color: #000;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.vacancy .row ul li:first-child {
  margin-top: 20px;
}

.vacancy .row ul li img {
  display: block;
  width: 15px;
  margin-right: 20px;
  margin-top: 20px;
  -webkit-filter: grayscale(200%);
  filter: grayscale(200%);
}

.vacancy__requirements {
  margin-top: 70px;
  margin-bottom: 120px;
}

.vacancy__interest {
  font-size: 60px;
  color: #cc0000;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .vacancy {
    padding-top: 90px;
    padding-bottom: 160px;
  }
  .vacancy__about {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .vacancy__about div {
    height: 150px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 32px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 36px;
  }
  .vacancy .row ul {
    margin-left: 25px;
    font-size: 46px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 15px;
  }
  .vacancy .row ul li img {
    width: 12px;
    margin-right: 15px;
    margin-top: 20px;
  }
  .vacancy__requirements {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .vacancy__interest {
    font-size: 56px;
  }
}

@media only screen and (max-width: 991px) {
  .vacancy {
    padding-top: 75px;
    padding-bottom: 125px;
  }
  .vacancy__about {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .vacancy__about div {
    height: 140px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 30px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 34px;
  }
  .vacancy .row ul {
    margin-left: 20px;
    font-size: 36px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 10px;
  }
  .vacancy .row ul li img {
    width: 10px;
    margin-right: 10px;
    margin-top: 15px;
  }
  .vacancy__requirements {
    margin-top: 60px;
    margin-bottom: 75px;
  }
  .vacancy__interest {
    font-size: 46px;
  }
}

@media only screen and (max-width: 767px) {
  .vacancy {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .vacancy__about {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .vacancy__about div {
    height: 100px;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 24px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 28px;
  }
  .vacancy .row ul {
    margin-left: 20px;
    font-size: 28px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 10px;
  }
  .vacancy .row ul li img {
    width: 9px;
    margin-right: 7px;
    margin-top: 10px;
  }
  .vacancy__requirements {
    margin-top: 50px;
    margin-bottom: 75px;
  }
  .vacancy__interest {
    font-size: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .vacancy {
    padding-bottom: 100px;
  }
  .vacancy__about {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .vacancy__about div {
    height: 80px;
  }
  .vacancy__about div:nth-child(1) {
    margin-left: 0;
  }
  .vacancy__about div:nth-child(1) span {
    font-size: 16px;
  }
  .vacancy__about div:nth-child(2) span {
    font-size: 18px;
  }
  .vacancy .row ul {
    margin-left: 20px;
    font-size: 20px;
  }
  .vacancy .row ul li:first-child {
    margin-top: 20px;
  }
  .vacancy .row ul li img {
    width: 7px;
    margin-right: 7px;
    margin-top: 7px;
  }
  .vacancy__requirements {
    margin-top: 40px;
    margin-bottom: 65px;
  }
  .vacancy__interest {
    font-size: 26px;
  }
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-form_close {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 510;
}

.modal-form__block {
  z-index: 550;
  width: 770px;
  min-height: 370px;
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 57px;
  background: #f9edd1;
  -webkit-box-shadow: 0px 0px 30px 22px #f9edd1;
  box-shadow: 0px 0px 30px 22px #f9edd1;
  position: relative;
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
  -webkit-transition: all, 2s;
  transition: all, 2s;
}

.modal-form__block form {
  width: 100%;
  height: 100%;
}

.modal-form__block .input-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-form__block .input-block .input {
  margin-bottom: -4px;
  width: 370px;
  position: relative;
}

.modal-form__block .input-block .input input {
  width: 100%;
  background: transparent;
  border: none;
  outline-color: #cc0000;
  font-size: 20px;
  font-family: BeerMoney;
  padding-left: 10px;
}

.modal-form__block .input-block .input label {
  font-size: 20px;
}

.modal-form__block .input-block .input:after {
  display: block;
  content: '';
  width: 99%;
  height: 3px;
  background: url(../img/modal-form__input-border.png);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.modal-form__block .resume {
  margin-top: 15px;
}

.modal-form__block .resume img {
  margin-bottom: 10px;
  margin-right: 3px;
  cursor: pointer;
}

.modal-form__block .resume span {
  font-size: 30px;
}

.modal-form__block .send {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: auto;
  margin-top: 25px;
}

.modal-form__block .send span {
  font-size: 48px;
  color: #cc0000;
  cursor: pointer;
}

.modal-form__block .modal-form__stamp {
  top: 15px;
  right: 45px;
}

.modal-form_show {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form_show .modal-form__block {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (max-width: 991px) {
  .modal-form__block {
    width: 700px;
    min-height: 320px;
    padding-top: 25px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 57px;
  }
  .modal-form__block .input-block .input {
    margin-bottom: -4px;
    width: 370px;
  }
  .modal-form__block .input-block .input input {
    font-size: 20px;
  }
  .modal-form__block .input-block .input label {
    font-size: 20px;
  }
  .modal-form__block .input-block .input:after {
    width: 99%;
  }
  .modal-form__block .resume {
    margin-top: 10px;
  }
  .modal-form__block .resume img {
    margin-bottom: 10px;
    margin-right: 3px;
    cursor: pointer;
  }
  .modal-form__block .resume span {
    font-size: 26px;
  }
  .modal-form__block .send {
    margin-top: 20px;
  }
  .modal-form__block .send span {
    font-size: 36px;
  }
  .modal-form__block .modal-form__stamp {
    width: 100px;
    top: 5px;
    right: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .modal-form__block {
    width: 90vw;
    min-height: 320px;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .modal-form__block .input-block .input {
    margin-bottom: 0px;
    width: 300px;
  }
  .modal-form__block .input-block .input label {
    font-size: 18px;
  }
  .modal-form__block .input-block .input:after {
    width: 97%;
  }
  .modal-form__block .resume {
    margin-top: 10px;
  }
  .modal-form__block .resume img {
    margin-bottom: 10px;
    margin-right: 3px;
    cursor: pointer;
  }
  .modal-form__block .resume span {
    font-size: 26px;
  }
  .modal-form__block .send {
    margin-top: 20px;
  }
  .modal-form__block .send span {
    font-size: 28px;
  }
  .modal-form__block .modal-form__stamp {
    width: 75px;
    top: 5px;
    right: 5px;
  }
}

@media only screen and (max-width: 576px) {
  .modal-form__block {
    width: 90vw;
    min-height: 320px;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .modal-form__block .input-block .input {
    margin-bottom: 0px;
    width: 90%;
  }
  .modal-form__block .input-block .input label {
    font-size: 16px;
  }
  .modal-form__block .input-block .input:after {
    width: 97%;
  }
  .modal-form__block .resume {
    margin-top: 5px;
  }
  .modal-form__block .resume img {
    margin-bottom: 10px;
    margin-right: 3px;
    cursor: pointer;
  }
  .modal-form__block .resume span {
    font-size: 22px;
  }
  .modal-form__block .send {
    margin-top: 0px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal-form__block .send span {
    font-size: 24px;
    margin-top: 10px;
  }
  .modal-form__block .modal-form__stamp {
    width: 50px;
    top: 5px;
    right: 5px;
  }
}
