// to compile...

@import "./_components/_header&footer.scss";

// Section About Us
.about-us {
  padding-top: 100px;

  &__img {
    margin-top: 20px;

    div {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__block {
    margin-top: 60px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    &-item {
      width: 570px;

      h4 {
        margin: 0;
        font-size: 36px;
        color: $red;
        margin-bottom: 15px;
      }

      p {
        font-size: 24px;
        margin: 0;
      }

      &:nth-child(2) {
        margin-left: auto;
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
      }

      &:nth-child(3) {
        -webkit-transform: translateY(-160px);
                transform: translateY(-160px);

        h4 {
          text-align: right;
          padding-right: 45px;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .about-us {
    padding-top: 80px;

    &__img {
      margin-top: 20px;
    }

    &__block {
      margin-top: 50px;

      &-item {
        width: 440px;

        h4 {
          font-size: 34px;
          margin-bottom: 10px;
        }

        p {
          font-size: 24px;
        }

        &:nth-child(2) {
          margin-left: auto;
          -webkit-transform: translateY(-80px);
                  transform: translateY(-80px);
        }

        &:nth-child(3) {
          -webkit-transform: translateY(-160px);
                  transform: translateY(-160px);

          h4 {
            padding-right: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .about-us {
    padding-top: 75px;
    padding-bottom: 70px;

    &__img {
      margin-top: 20px;
    }

    &__block {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 0px;

      &-item {
        width: 90%;
        margin-top: 35px;

        h4 {
          font-size: 30px;
          margin-bottom: 10px;
          text-align: center;
        }

        p {
          font-size: 24px;
        }

        &:nth-child(2) {
          margin-left: 0;
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
        }

        &:nth-child(3) {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);

          h4 {
            padding-right: 0px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 50px;

    &__block {
      &-item {
        width: 95%;
        margin-top: 35px;

        h4 {
          font-size: 28px;
        }

        p {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 50px;

    &__block {
      &-item {
        width: 95%;
        margin-top: 30px;

        h4 {
          font-size: 26px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}

// Section History
@import "./_components/_section-history.scss";

.history {
  padding-top: 0;
}


@media only screen and (max-width : 991px) {
  .history {
    padding-top: 60px;
  }
}

// Section Rolling Stock
@import "./_components/_section-stock.scss";

// Section How We Work
@import "./_components/_section-how-we-work.scss";

.we-work {
  padding-top: 20px;
}

@media only screen and (max-width : 991px) {
  .we-work {
    padding-top: 0;
  }
}

//Section Geography
.geography {
  padding-top: 70px;
  padding-bottom: 90px;
}

@import "./_components/_emons-map.scss";

@media only screen and (max-width : 1199px) {
  .geography {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width : 991px) {
  .geography {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}

@media only screen and (max-width : 767px) {
  .geography {
    padding-top: 20px;
  }
}

@media only screen and (max-width : 576px) {

}
