// to compile...

@import "./_components/header&footer.scss";
@import "./_components/emons-forms.scss";

// Section Articles
.articles {
  padding-bottom: 120px;

  &__filter {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 30px;
    margin-left: -5px;

    &-block {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      position: relative;

      img {
        width: 37px;
        cursor: pointer;
        z-index: 75;
      }

      span {
        font-size: 30px;
        line-height: 0.75;
        margin-left: 15px;
        z-index: 75;
      }

      .articles__filter-categories {
        position: absolute;
        top: -33px;
        left: -40px;
        min-height: 100vh;
        background: rgba(255, 224, 148, 0.85);
        z-index: 50;
        padding-top: 90px;
        padding-left: 0px;
        padding-right: 0px;
        list-style: none;
        overflow-x: hidden;
        width: 0;
        -webkit-transition: all, .5s ease-in;
        transition: all, .5s ease-in;

        li {
          min-width: 100%;
          padding: 10px 0;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          position: relative;
          cursor: pointer;

          span {
            min-width: 100%;
            font-size: 24px;
            color: #000;
            -webkit-transition: all, .3s;
            transition: all, .3s;
            line-height: 1.2;
          }

          img {
            display: block;
            width: 8px;
            height: 8px;
            margin-top: 8px;
            margin-right: 10px;
            -webkit-filter: grayscale(200%);
                    filter: grayscale(200%);
          }

          &:after {
            display: block;
            content: '';
            width: 65%;
            height: 5px;
            background: url(../img/menu-item__devider.png);
            position: absolute;
            bottom: 0;
            left: -110px;
          }

          &.active {
            span {
              color: $red;
            }

            img {
              -webkit-filter: grayscale(0%);
                      filter: grayscale(0%);
            }
          }
        }
      }

      .articles__filter-categories_show {
        width: 385px;
        padding-left: 40px;
        padding-right: 20px;
        overflow-x: visible;
      }
    }
  }

  .section-heading {
    margin-top: 38px;
  }

  &__item {
    margin-top: 40px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &-img {
      img {
        max-width: 90%;
      }
    }

    &-discr {
      width: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-right: 80px;

      .article__heading-block {
        margin-bottom: 20px;
        width: 100%;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .article-ttl {
          font-size: 36px;
          color: $red;
        }

        span {
          font-size: 24px;
          margin-right: 20px;
        }
      }

      .article__info {
        p {
          margin: 0;
          font-size: 24px;
        }
      }
    }
  }

  &__pages-nav {
    margin-top: 65px;
    padding-left: 200px;
    font-size: 30px;

    a {
      margin: 0 5px;
      color: #000;
      text-decoration: none;
      -webkit-transition: all, .3s;
      transition: all, .3s;

      &:hover {
        color: $red;
      }
    }
  }

  &__form {
    margin-top: 95px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &-block {
      padding: 55px 45px 50px 50px;
      -webkit-box-shadow: 0px 0px 30px 20px rgba(249,237,209,1);
              box-shadow: 0px 0px 30px 20px rgba(249,237,209,1);
      background: #f9edd1;
      position: relative;

      h6 {
        font-size: 24px;
      }

      form {
        width: 100%;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      .input {
        width: 275px;
        margin-top: 20px;
        position: relative;

        input {
          width: 100%;
          background: transparent;
          border: none;
          font-size: 24px;
          font-family: BeerMoney;
          padding-left: 5px;
          outline-color: $red;
        }

        &:after {
          display: block;
          content: '';
          width: 98%;
          height: 3px;
          background: url(../img/modal-form__input-border.png);
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      label {
        margin: 0;
        font-size: 20px;
      }

      button {
        background: transparent;
        border: none;
        padding: 0;
        font-family: BeerMoney;
        font-size: 36px;
        color: $red;
        cursor: pointer;
        outline: none;
        margin-top: 40px;
        margin-left: auto;
      }

      .articles-form__stamp {
        top: 10px;
        right: 10px;
        width: 112px;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .articles {
    padding-bottom: 100px;

    .filter-container {
      width: 100%;
    }

    &__filter {
      margin-top: 20px;

      &-block {
        img {
          width: 35px;
        }

        span {
          font-size: 28px;
          margin-left: 12px;
        }

        .articles__filter-categories {
          top: -25px;
          padding-top: 78px;

          li {
            min-width: 100%;
            font-size: 28px;
            padding: 10px 0;

            &:before {
              width: 10px;
              height: 10px;
              background-size: contain;
              margin-right: 15px;
              margin-top: 10px;
            }

            &:after {
              width: 59%;
              left: -90px;
              height: 4px;
            }
          }
        }

        .articles__filter-categories_show {
          width: 385px;
          padding-left: 40px;
          padding-right: 20px;
        }
      }
    }

    .section-heading {
      margin-top: 40px;
    }

    &__item {
      margin-top: 40px;

      &-discr {
        padding-right: 40px;

        .article__heading-block {
          margin-bottom: 15px;

          .article-ttl {
            font-size: 34px;
          }

          span {
            font-size: 24px;
            margin-right: 10px;
          }
        }

        .article__info {
          p {
            font-size: 24px;
          }
        }
      }
    }

    &__pages-nav {
      margin-top: 50px;
      padding-left: 110px;
      font-size: 28px;
    }

    &__form {
      margin-top: 75px;

      &-block {
        padding: 50px 45px 50px 60px;

        h6 {
          font-size: 24px;
        }

        .input {
          width: 275px;
          margin-top: 20px;

          input {
            font-size: 24px;
          }

          &:after {
            width: 99%;
          }
        }

        label {
          font-size: 20px;
        }

        button {
          font-size: 36px;
          margin-top: 30px;
        }

        .articles-form__stamp {
          top: 5px;
          right: 5px;
          width: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .articles {
    padding-bottom: 100px;

    &__filter {
      &-block {
        img {
          width: 30px;
        }

        span {
          font-size: 26px;
          margin-left: 10px;
        }

        .articles__filter-categories {
          top: -25px;
          padding-top: 65px;
          left: -30px;

          li {
            padding: 7px 0;

            span {
              font-size: 22px;
            }

            &:after {
              width: 50%;
              left: -70px;
            }
          }
        }

        .articles__filter-categories_show {
          width: 350px;
          padding-left: 30px;
          padding-right: 20px;
        }
      }
    }

    .section-heading {
      margin-top: 30px;
    }

    &__item {
      margin-top: 29px;

      &-discr {
        padding-right: 20px;

        .article__heading-block {
          .article-ttl {
            font-size: 28px;
          }

          span {
            font-size: 22px;
            margin-right: 10px;
          }
        }

        .article__info {
          p {
            font-size: 20px;
          }
        }
      }
    }

    &__pages-nav {
      margin-top: 40px;
      padding-left: 40px;
      font-size: 26px;
    }

    &__form {
      margin-top: 75px;

      &-block {
        padding: 50px 45px 50px 60px;

        h6 {
          font-size: 22px;
        }

        .input {
          width: 275px;
          margin-top: 10px;

          input {
            font-size: 24px;
          }

          &:after {
            width: 98%;
          }
        }

        label {
          font-size: 18px;
        }

        button {
          font-size: 30px;
          margin-top: 25px;
        }

        .articles-form__stamp {
          top: 5px;
          right: 5px;
          width: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .articles {
    padding-bottom: 100px;

    &__filter {
      margin-top: 15px;

      &-block {
        img {
          width: 25px;
        }

        span {
          font-size: 24px;
          margin-left: 10px;
        }

        .articles__filter-categories {
          top: -25px;
          padding-top: 60px;

          li {
            padding: 5px 0;

            span {
              font-size: 20px;
            }

            &:before {
              width: 6px;
              height: 6px;
              margin-right: 7px;
              margin-top: 9px;
            }

            &:after {
              width: 61%;
              left: -50px;
            }
          }
        }

        .articles__filter-categories_show {
          width: 300px;
          padding-left: 30px;
          padding-right: 20px;
        }
      }
    }

    .section-heading {
      margin-top: 13px;
    }

    &__item {
      margin-top: 30px;

      &-img {
        display: none;
      }

      &-discr {
        padding-right: 20px;

        .article__heading-block {
          margin-bottom: 10px;

          .article-ttl {
            font-size: 28px;
          }

          span {
            font-size: 22px;
            margin-right: 10px;
          }
        }

        .article__info {
          p {
            font-size: 20px;
          }
        }
      }
    }

    &__pages-nav {
      margin-top: 35px;
      padding-left: 25px;
      font-size: 24px;
    }

    &__form {
      margin-top: 75px;

      &-block {
        padding: 50px 45px 50px 60px;

        h6 {
          font-size: 22px;
        }

        .input {
          width: 275px;
          margin-top: 10px;

          input {
            font-size: 24px;
          }

          &:after {
            width: 98%;
          }
        }

        label {
          font-size: 18px;
        }

        button {
          font-size: 30px;
          margin-top: 25px;
        }

        .articles-form__stamp {
          top: 5px;
          right: 5px;
          width: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .articles {
    padding-bottom: 100px;

    &__filter {
      &-block {
        img {
          width: 20px;
        }

        span {
          font-size: 22px;
          margin-left: 10px;
        }

        .articles__filter-categories {
          top: -25px;
          padding-top: 55px;

          li {
            padding: 5px 0;

            &:after {
              width: 61%;
              left: -50px;
            }
          }
        }

        .articles__filter-categories_show {
          width: 270px;
          padding-left: 30px;
          padding-right: 20px;
        }
      }
    }

    &__item {
      margin-top: 40px;

      &-img {
        display: none;
      }

      &-discr {
        padding-right: 0px;

        .article__heading-block {
          margin-bottom: 15px;

          .article-ttl {
            font-size: 22px;
          }

          span {
            font-size: 18px;
            margin-right: 10px;
          }
        }

        .article__info {
          p {
            font-size: 20px;
          }
        }
      }
    }

    &__pages-nav {
      margin-top: 35px;
      padding-left: 20px;
      font-size: 22px;
    }

    &__form {
      margin-top: 75px;

      &-block {
        padding: 40px 40px 50px 50px;

        h6 {
          font-size: 20px;
        }

        .input {
          width: 200px;
          margin-top: 10px;

          input {
            font-size: 24px;
          }

          &:after {
            width: 96%;
          }
        }

        label {
          font-size: 18px;
        }

        button {
          font-size: 22px;
          margin-top: 20px;
        }

        .articles-form__stamp {
          top: 5px;
          right: 5px;
          width: 75px;
        }
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}
