// to compile...

@import "./_components/header&footer.scss";
@import "./_components/emons-forms.scss";

// Blog materials
.blog-m {
  padding-top: 80px;
  padding-bottom: 120px;

  &__ttl {
    margin: 30px 0;
    background: #f9edd1;
    -webkit-box-shadow: 0 0 28px 18px #fffde8 inset;
            box-shadow: 0 0 28px 18px #fffde8 inset;
    padding: 25px 50px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .blog-m__date {
      width: 150px;
      height: 75px;
      font-size: 48px;
      color: $red;
      line-height: 0.75;
      text-align: center;
      padding-right: 30px;
      position: relative;

      &:after {
        display: block;
        content: '';
        width: 5px;
        height: 100%;
        background: url(../img/date-border.png);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    h3 {
      margin: 0;
      margin-left: 30px;
      font-size: 48px;
    }

    .blog-m__socials {
      margin-left: auto;
    }
  }

  &__img {
    position: relative;

    div {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    &:after {
      display: block;
      content: '';
      width: 97%;
      height: 50px;
      background: url(../img/blog-img__border_01.png);
      background-size: contain;
      position: absolute;
      left: 50%;
      bottom: -20px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

  &__info {
    margin-top: 70px;
    margin-bottom: 125px;
    position: relative;
    padding-left: 55px;
    padding-right: 25px;

    p {
      margin: 0;
      font-size: 30px;
    }

    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 145px;
      background: url(../img/blog-info-border.png);
      background-size: contain;
      position: absolute;
      left: 0px;
      bottom: -50px;
    }
  }

  &-form {
    background: #f9edd1;
    -webkit-box-shadow: 0 0 28px 18px #fffde8 inset;
            box-shadow: 0 0 28px 18px #fffde8 inset;
    padding-top: 95px;
    padding-left: 75px;
    padding-bottom: 75px;
    padding-right: 75px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    span {
      font-size: 22px;
      line-height: 1;
    }

    .input {
      width: 270px;
      position: relative;
      margin-top: 20px;

      input {
        width: 100%;
        font-size: 24px;
        padding-left: 10px;
        font-family: BeerMoney;
        outline-color: $red;
        border: none;
        background: transparent;
      }

      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background: url(../img/modal-form__input-border.png);
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    label {
      font-size: 20px;
      margin-top: -5px;
    }

    button {
      margin-top: 25px;
      margin-left: auto;
      border: none;
      background: transparent;
      padding: 0;
      font-family: BeerMoney;
      font-size: 36px;
      color: $red;
      cursor: pointer;
    }

    &__stamp {
      width: 105px;
      top: 25px;
      right: 35px;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
    }

    .blog-m__arrow {
      width: 135px;
      position: absolute;
      top: -65px;
      left: -140px;
    }

    &:before {
      top: 25px;
      height: 85%;
    }

    &:after {
      width: 96%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .blog-m {
    padding-top: 75px;
    padding-bottom: 100px;

    &__ttl {
      margin: 25px 0;
      padding: 25px 20px;

      .blog-m__date {
        width: 130px;
        height: 65px;
        font-size: 40px;
        padding-right: 20px;
      }

      h3 {
        margin-left: 30px;
        font-size: 40px;
      }

      .blog-m__socials {
        margin-left: auto;

        img {
          -webkit-transform: scale(0.75);
                  transform: scale(0.75);
        }
      }
    }

    &__img {
      &:after {
        height: 41px;
        left: 50%;
        bottom: -18px;
      }
    }

    &__info {
      margin-top: 50px;
      margin-bottom: 100px;
      padding-left: 35px;
      padding-right: 25px;

      p {
        font-size: 26px;
      }

      &:after {
        height: 115px;
        bottom: -50px;
      }
    }

    &-form {
      padding-top: 85px;
      padding-left: 55px;
      padding-bottom: 55px;
      padding-right: 55px;

      span {
        font-size: 22px;
      }

      .input {
        width: 250px;
        margin-top: 20px;

        input {
          font-size: 22px;
        }
      }

      label {
        font-size: 20px;
        margin-top: -5px;
      }

      button {
        margin-top: 20px;
        font-size: 32px;
      }

      &__stamp {
        width: 100px;
        top: 25px;
        right: 25px;
      }

      .blog-m__arrow {
        width: 115px;
        position: absolute;
        top: -40px;
        left: -110px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .blog-m {
    padding-top: 50px;
    padding-bottom: 75px;

    &__ttl {
      margin: 25px 0;
      padding: 25px 20px;

      .blog-m__date {
        width: 100%;
        height: 50px;
        font-size: 36px;
        padding-right: 10px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 30px;
      }

      h3 {
        margin-left: 25px;
        font-size: 36px;
      }

      .blog-m__socials {
        img {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }
      }
    }

    &__img {
      &:after {
        height: 31px;
        width: 96%;
        bottom: -14px;
      }
    }

    &__info {
      margin-top: 30px;
      margin-bottom: 85px;
      padding-left: 25px;
      padding-right: 25px;

      p {
        font-size: 24px;
      }

      &:after {
        height: 86px;
        bottom: -50px;
      }
    }

    &-form {
      padding-top: 75px;
      padding-left: 55px;
      padding-bottom: 55px;
      padding-right: 55px;

      span {
        font-size: 20px;
      }

      .input {
        width: 200px;
        margin-top: 15px;

        input {
          font-size: 20px;
        }
      }

      label {
        font-size: 18px;
        margin-top: -5px;
      }

      button {
        margin-top: 15px;
        font-size: 28px;
      }

      &__stamp {
        width: 90px;
        top: 25px;
        right: 25px;
      }

      .blog-m__arrow {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .blog-m {
    padding-top: 50px;
    padding-bottom: 75px;

    &__ttl {
      margin: 25px 0;
      padding: 25px 20px;

      .blog-m__date {
        height: 30px;
        font-size: 30px;
        margin-bottom: 15px;

        &:after {
          display: none;
        }
      }

      h3 {
        margin-left: 5px;
        font-size: 30px;
      }

      .blog-m__socials {
        img {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }
      }
    }

    &__img {
      &:after {
        height: 22px;
        width: 93%;
        bottom: -9px;
      }
    }

    &__info {
      margin-top: 25px;
      margin-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;

      p {
        font-size: 20px;
      }

      &:after {
        height: 64px;
        bottom: -25px;
      }
    }

    &-form {
      padding-top: 75px;
      padding-left: 50px;
      padding-bottom: 30px;
      padding-right: 50px;

      span {
        font-size: 18px;
      }

      .input {
        width: 200px;
        margin-top: 10px;

        input {
          font-size: 18px;
        }
      }

      label {
        font-size: 16px;
        margin-top: -5px;
      }

      button {
        margin-top: 10px;
        font-size: 24px;
      }

      &__stamp {
        width: 80px;
        top: 25px;
        right: 25px;
      }

      .blog-m__arrow {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .blog-m {
    padding-top: 50px;
    padding-bottom: 50px;

    &__ttl {
      margin: 15px 0;
      padding: 15px;

      .blog-m__date {
        height: 30px;
        font-size: 26px;
        margin-bottom: 15px;

        &:after {
          display: none;
        }
      }

      h3 {
        margin-left: 0;
        font-size: 26px;
      }

      .blog-m__socials {
        img {
          -webkit-transform: scale(0.3);
                  transform: scale(0.3);
        }
      }
    }

    &__img {
      &:after {
        display: none;
      }
    }

    &__info {
      margin-top: 20px;
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;

      p {
        font-size: 18px;
      }

      &:after {
        display: none;
      }
    }

    &-form {
      padding-top: 75px;
      padding-left: 50px;
      padding-bottom: 30px;
      padding-right: 50px;

      span {
        font-size: 18px;
      }

      .input {
        width: 170px;
        margin-top: 10px;

        input {
          font-size: 18px;
        }
      }

      label {
        font-size: 16px;
        margin-top: -5px;
      }

      button {
        margin-top: 10px;
        font-size: 24px;
      }

      &__stamp {
        width: 80px;
        top: 25px;
        right: 25px;
      }

      .blog-m__arrow {
        display: none;
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}
