// to compile...

@import "./_components/_header&footer.scss";
@import "./_components/_emons-map.scss";

body {
  overflow-x: hidden !important;
}

.geography {
  padding-bottom: 90px;

  .emons-map {
    position: relative;

    &__airplane_01 {
      position: absolute;
      top: 80%;
      left: 30%;
      opacity: 0;
      -webkit-animation-name: airplane1;
              animation-name: airplane1;
      -webkit-animation-duration: 15s;
              animation-duration: 15s;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }

    &__airplane_04 {
      position: absolute;
      top: 80%;
      left: 30%;
      opacity: 0;
      -webkit-animation-name: airplane4;
              animation-name: airplane4;
      -webkit-animation-duration: 15s;
              animation-duration: 15s;
      -webkit-animation-delay: 4s;
              animation-delay: 4s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
  }
}


@-webkit-keyframes airplane1 {
  0% {
    top: 80%;
    left: 30%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;

  }

  100% {
    top: 25%;
    left: 80%;
    opacity: 0;
  }
}


@keyframes airplane1 {
  0% {
    top: 80%;
    left: 30%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;

  }

  100% {
    top: 25%;
    left: 80%;
    opacity: 0;
  }
}

@-webkit-keyframes airplane4 {
  0% {
    top: 80%;
    left: 80%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;

  }

  100% {
    top: 25%;
    left: 30%;
    opacity: 0;
  }
}

@keyframes airplane4 {
  0% {
    top: 80%;
    left: 80%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;

  }

  100% {
    top: 25%;
    left: 30%;
    opacity: 0;
  }
}

@media only screen and (max-width : 991px) {
  .geography {
    padding-bottom: 75px;
  }
}

@media only screen and (max-width : 576px) {

}

// Section Our Services
@import "./_components/_section-services.scss";

.services {
  padding-top: 0px;
  padding-bottom: 90px;

  &__block {
    margin-bottom: 0;
  }
}


@media only screen and (max-width : 1199px) {
  .services {
    margin-top: -10px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width : 991px) {
  .services {
    margin-top: -30px;
    padding-bottom: 75px;
  }
}

@media only screen and (max-width : 767px) {
  .services {
    margin-top: -40px;
    padding-bottom: 50px;
  }
}

// Section Facts
.facts {
  padding: 65px 0;
  background: #ffe096;
  position: relative;

  &__block {
    margin-top: 40px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    &-item {
      width: 270px;
      margin: 20px 60px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;

      img {
        max-width: 95%;
      }

      h6 {
        width: 100%;
        text-align: center;
        font-size: 34px;
        margin: 0;
        margin-top: 30px;
      }

      span {
        font-size: 50px;
        color: $red;
        text-align: center;
        line-height: 0.75;

        code {
          background: transparent;
          color: $red;
        }
      }

      &:nth-child(2) {
        -webkit-transform: translateY(60px);
                transform: translateY(60px);
      }
    }
  }

  .screen-devider {
    position: absolute;
    left: 0;

    &_01 {
      top: 0;
    }

    &_02 {
      bottom: 0;
    }
  }
}


@media only screen and (max-width : 1199px) {
  .facts {
    padding: 60px 0;

    &__block {
      margin-top: 30px;

      &-item {
        width: 270px;
        margin: 20px 20px;

        h6 {
          font-size: 34px;
          margin-top: 25px;
        }

        span {
          font-size: 50px;
        }

        &:nth-child(2) {
          -webkit-transform: translateY(40px);
                  transform: translateY(40px);
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .facts {
    padding: 50px 0;

    &__block {
      margin-top: 30px;

      &-item {
        width: 270px;
        margin: 20px 20px;

        h6 {
          font-size: 30px;
          margin-top: 25px;
        }

        span {
          font-size: 42px;
        }

        &:nth-child(2) {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .facts {
    padding: 40px 0;

    &__block {
      margin-top: 25px;

      &-item {
        width: 210px;
        margin: 20px;

        h6 {
          font-size: 26px;
          margin-top: 20px;
        }

        span {
          font-size: 38px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {

}

// Section Contact Us
.contact-us {
  padding-top: 90px;
  padding-bottom: 110px;

  &__block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    &-item {
      width: 280px;
      margin: 20px 30px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;

      img {
        max-width: 95%;
      }

      span {
        font-size: 30px;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
      }

      &:hover {
        span {
          color: $red;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .contact-us {
    padding-top: 80px;
    padding-bottom: 100px;

    &__block {
      &-item {
        width: 260px;
        margin: 20px 20px;

        span {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .contact-us {
    padding-top: 75px;
    padding-bottom: 90px;

    &__block {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      &-item {
        width: 175px;
        margin: 20px 25px;

        span {
          font-size: 20px;
        }
      }
    }
  }
}

.video-presentation {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &__block {
    width: 75%;
    position: relative;

    .tv-image {
      width: 100%;
    }

    .tv-image_close {
      cursor: pointer;
      width: 40px;
      position: absolute;
      top: 12px;
      right: 5px;
      z-index: 550;
    }

    &-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url(../img/video-presentation__cover.png) no-repeat center / cover;
    }
  }

  &.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (min-width : 1550px) {
  .video-presentation {
    &__block {
      width: 50%;

      .tv-image_close {
        width: 43px;
        top: 12px;
        right: 5px;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .video-presentation {
    &__block {
      width: 85%;

      .tv-image_close {
        width: 40px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .video-presentation {
    &__block {
      width: 90%;
      .tv-image_close {
        width: 30px;
        top: 10px;
        right: 5px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .video-presentation {
    &__block {
      width: 95%;

      .tv-image_close {
        width: 25px;
        top: 10px;
        right: 2px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .video-presentation {
    &__block {
      width: 95%;

      .tv-image_close {
        width: 20px;
        top: 5px;
        right: 2px;
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}
