.emons-map {
  width: 100%;
  height: 600px;
  background: url(../img/emons-map.png) no-repeat center / cover;
}


@media only screen and (max-width : 1199px) {
  .emons-map {
    height: 550px;
  }
}

@media only screen and (max-width : 991px) {
  .emons-map {
    height: 500px;
  }
}

@media only screen and (max-width : 767px) {
  .emons-map {
    height: 400px;
  }
}

@media only screen and (max-width : 576px) {
  .emons-map {
    height: 250px;
  }
}
