$red: #cc0000;

@font-face {
  font-family: BeerMoney;
  src: url(../fonts/beermoney.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

html, body {
    height: 100%;
}

body {
  font-family: BeerMoney, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden !important;
  padding-top: 87px;
  line-height: 1.2;
}

@media only screen and (min-width : 1200px) {
  .container {
      width: 1200px;
      max-width: 100%;
  }
}

.red {
  color: $red;
}

section {
  width: 100%;
  background: #fffde8;
}

.row {
  padding: 0 15px;
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  h2 {
    margin: 0;
    text-align: center;
    font-size: 48px;
  }
}

.screen-devider {
  width: 100%;
  height: 8px;
  background: url(../img/screen-devider.png);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Header
.header {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .emons-logo {
    position: relative;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -15px;

    .menu-icon {
      margin-top: -10px;
      margin-right: 15px;
      cursor: pointer;
      z-index: 120;
    }

    .logo {
      z-index: 120;
    }
  }

  h3 {
    margin: 0;
    text-align: center;
    font-size: 24px;

    .red {
      font-size: 30px;
    }
  }

  &__number-mail {
    line-height: 1;
  }

  &-number {
    font-size: 36px;
  }

  &-email {
    font-size: 24px;
  }

  .screen-devider {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-nav {
    min-height: 100vh;
    background: rgba(255, 224, 148, 0.85);
    position: absolute;
    top: 86px;
    left: -40px;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 25px;
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
    -webkit-transition: all, .7s;
    transition: all, .7s;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;

      li {
        padding: 10px 0;
        position: relative;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        &:before {
          display: block;
          content: '';
          width: 0%;
          height: 5px;
          position: absolute;
          bottom: 0;
          left: 0px;
          background: url(../img/menu-item__devider.png);
          -webkit-transition: all, .5s .7s;
          transition: all, .5s .7s;
        }

        a {
          margin: 0;
          width: 350px;
          font-size: 24px;
          color: #000;
          text-decoration: none;
          opacity: 0;
          -webkit-transition: all, .5s .7s;
          transition: all, .5s .7s;

          &:hover {
            color: $red;

            &:before {
              -webkit-filter: grayscale(0%);
                      filter: grayscale(0%);
            }
          }
        }

        img {
          display: block;
          width: 8px;
          height: 8px;
          margin-top: 8px;
          margin-right: 10px;
          -webkit-filter: grayscale(200%);
                  filter: grayscale(200%);
          opacity: 0;
          -webkit-transition: all, .5s .7s;
          transition: all, .5s .7s;
        }
      }
    }
  }
}

.header-nav_show {
  -webkit-transform: translateX(0);
          transform: translateX(0);

  ul {
    li {
      &:before {
        width: 83%;
        left: -110px;
      }

      a {
        opacity: 1;
      }

      img {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  body {
    padding-top: 85px;
  }

  .section-heading {
    h2 {
      font-size: 46px;
    }
  }

  .header {
    padding-top: 10px;
    padding-bottom: 20px;

    .container {
      width: 100%;
      padding: 0 25px;
    }

    .emons-logo {
      margin-top: -5px;

      .menu-icon {
        margin-top: 0px;
        margin-right: 10px;
      }
    }

    h3 {
      font-size: 24px;

      .red {
        font-size: 30px;
      }
    }

    &-number {
      font-size: 28px;
    }

    &-email {
      font-size: 24px;
    }

    &-nav {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      padding-top: 18px;
      padding-bottom: 25px;
      top: 80px;
    }
  }

  .header-nav_show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width : 991px) {
  body {
    padding-top: 95px;
  }

  .section-heading {
    h2 {
      font-size: 42px;
    }
  }

  .header {
    padding-top: 5px;
    padding-bottom: 10px;

    .row {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    }

    .emons-logo {
      margin-top: 0;

      .logo {
        width: 130px;

        img {
          width: 100%;
        }
      }

      .menu-icon {
        margin-right: 5px;
        width: 35px;
      }
    }

    h3 {
      font-size: 24px;
      width: 160px;

      .red {
        font-size: 30px;
      }
    }

    &-number {
      font-size: 28px;
    }

    &-email {
      font-size: 24px;
    }

    &-nav {
      -webkit-transform: translateX(-700px);
              transform: translateX(-700px);
      padding-top: 15px;
      padding-bottom: 25px;
      padding-left: 30px;
      top: 74px;
      left: -30px;

      ul {
        top: -25px;

        li {
          padding: 7px 0;

          a {
            width: 325px;
            font-size: 22px;
          }
        }
      }
    }
  }

  .header-nav_show {
    -webkit-transform: translateX(0);
            transform: translateX(0);

    ul {
      li {
        &:before {
          width: 83%;
          left: -70px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  body {
    padding-top: 75px;
  }

  .section-heading {
    h2 {
      font-size: 36px;
    }
  }

  .header {
    padding-top: 5px;
    padding-bottom: 10px;

    .emons-logo {
      .logo {
        width: 100px;
      }

      .menu-icon {
        width: 25px;
      }
    }

    h3 {
      font-size: 20px;

      .red {
        font-size: 22px;
      }
    }

    &-number {
      font-size: 20px;
    }

    &-email {
      font-size: 18px;
    }

    &-nav {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      padding-top: 9px;
      padding-left: 25px;
      padding-right: 15px;
      top: 60px;
      left: -25px;

      ul {
        li {
          padding: 5px 0;

          a {
            width: 294px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .header-nav_show {
    -webkit-transform: translateX(0);
            transform: translateX(0);

    ul {
      li {
        &:before {
          width: 83%;
          left: -70px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  body {
    padding-top: 60px;
  }

  .section-heading {
    h2 {
      font-size: 32px;
    }
  }

  .row {
    padding: 0 15px;
  }

  .header {
    padding-top: 5px;
    padding-bottom: 13px;

    .row {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    .emons-logo {
      position: static;

      .logo {
        width: 75px;
      }
    }

    h3 {
      width: 115px;
      font-size: 14px;

      .red {
        font-size: 16px;
      }
    }

    &-number {
      font-size: 14px;
    }

    &-email {
      font-size: 14px;
      margin-right: 10px;
    }

    &-nav {
      padding-top: 5px;
      padding-bottom: 25px;
      left: 0;
      top: 61px;

      ul {
        li {
          padding: 5px 0;

          a {
            font-size: 20px;
          }
        }
      }
    }
  }

  .header-nav_show {
    -webkit-transform: translateX(0);
            transform: translateX(0);

    ul {
      li {
        &:before {
          width: 83%;
          left: -70px;
        }
      }
    }
  }
}

@media only screen and (max-width : 430px) {
  body {
    padding-top: 88px;
  }

  .header {
    &__number-mail {
      width: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 10px;
    }

    &-nav {
      padding-top: 7px;
      padding-bottom: 25px;
      left: 0;
      top: 87px;

      ul {
        li {
          padding: 5px 0;

          a {
            font-size: 20px;
            width: 82vw;
          }
        }
      }
    }
  }
}

// Section trasted
.trasted {
  padding-bottom: 275px;

  &-slider {
    margin: 0 auto;
    padding: 0;

    &__slide {
      outline: none !important;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      a {
        outline: none;
      }
    }
  }

  .trasted-slider__block {
    margin-top: 60px;
    position: relative;
  }

  .trasted-slider__nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    &_prev {
      left: 20px;
    }

    &_next {
      right: 20px;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .trasted {
    padding-bottom: 240px;

    .trasted-slider__block {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .trasted {
    padding-bottom: 210px;

    .trasted-slider__block {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .trasted {
    padding-bottom: 200px;
  }
}

@media only screen and (max-width : 448px) {
  .trasted {
    padding-bottom: 275px;
  }
}

// Btn to top
.btn-to-top {
  position: fixed;
  bottom: 15px;
  right: -100px;
  z-index: 500;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  img {
    width: 55px;
  }

  &.show {
    right: 30px;
  }
}

@media only screen and (max-width : 1199px) {
  .btn-to-top {
    bottom: 10px;

    img {
      width: 50px;
    }

    &.show {
      right: 30px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .btn-to-top {
    bottom: 10px;

    img {
      width: 40px;
    }

    &.show {
      right: 30px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .btn-to-top {
    bottom: 10px;

    img {
      width: 30px;
    }

    &.show {
      right: 20px;
    }
  }
}

@media only screen and (max-width : 576px) {
  .btn-to-top {
    bottom: 10px;

    img {
      width: 30px;
    }

    &.show {
      right: 10px;
    }
  }
}

// Footer
.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #ffe094;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  -webkit-transform: translateY(115%);
          transform: translateY(115%);
  -webkit-transition: all, 0.5s ease-out;
  transition: all, 0.5s ease-out;

  .row {
    z-index: 20;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &-number {
    text-align: right;

    h2 {
      font-size: 40px;
      margin: 0;
    }

    span {
      font-size: 28px;
      margin-right: 45px;
    }
  }

  &-socials {
    margin: 0 30px;
  }

  &-adress {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    span {
      font-size: 24px;
    }
  }

  &-copyright {
    margin-top: 40px;

    span {
      font-family: Tahoma;
      font-size: 12px;
      color: $red;
    }
  }

  .screen-devider {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 10;
  }

  &:hover {
    -webkit-transform: translateY(103%);
            transform: translateY(103%);
  }

  &.show_scroll {
    -webkit-transform: translateY(0);
            transform: translateY(0);

    .footer-btn_show {
      top: -51px;
      opacity: 0;
    }
  }

  &.show_click {
    -webkit-transform: translateY(0);
            transform: translateY(0);

    .footer-btn_show {
      top: -51px;

      .footer-btn_open {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                display: block;
      }

      .footer-btn_close {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
                display: none;
      }
    }
  }

  &-btn_show {
    position: absolute;
    top: -51px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow-x: hidden;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all, .5s;
    transition: all, .5s;

    img {
      width: 250px;
    }

    span {
      position: absolute;
      top: 30% !important;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 24px;
      -webkit-transition: all, .5s;
      transition: all, .5s;
    }

    .footer-btn_open {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
              display: none;
    }

    .footer-btn_close {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
              display: block;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 20px;

    &-number {
      h2 {
        font-size: 38px;
      }

      span {
        font-size: 26px;
      }
    }

    &-socials {
      margin: 0 30px;

      img {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
      }
    }

    &-adress {
      span {
        font-size: 24px;
      }
    }

    &-copyright {
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translateY(112%);
            transform: translateY(112%);

    &-number {
      h2 {
        font-size: 32px;
      }

      span {
        font-size: 22px;
        margin-right: 40px;
      }
    }

    &-socials {
      margin: 0 30px;

      img {
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
      }
    }

    &-adress {
      span {
        font-size: 22px;
      }
    }

    &.show_scroll {
      .footer-btn_show {
        top: -40px;
      }
    }

    &.show_click {
      .footer-btn_show {
        top: -40px;
      }
    }

    &-btn_show {
      top: -40px;

      img {
        width: 200px;
      }

      span {
        top: 25% !important;
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .footer {
    padding-top: 20px;

    &-number {
      h2 {
        font-size: 28px;
      }

      span {
        font-size: 18px;
        margin-right: 35px;
      }
    }

    &-socials {
      margin: 0 30px;

      img {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
    }

    &-adress {
      span {
        font-size: 18px;
      }
    }

    &.show_scroll {
      .footer-btn_show {
        top: -35px;
      }
    }

    &.show_click {
      .footer-btn_show {
        top: -35px;
      }
    }

    &-btn_show {
      top: -35px;

      img {
        width: 175px;
      }

      span {
        top: 20% !important;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;

    .row {
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }

    &-number {
      h2 {
        font-size: 26px;
      }

      span {
        font-size: 16px;
        margin-right: 30px;
      }
    }

    &-socials {
      margin: 25px 15px;
    }

    &-adress {
      span {
        font-size: 18px;
      }
    }

    &-copyright {
      margin-top: 15px;
      text-align: center;
    }
  }
}
