.history {
  padding-top: 95px;
  padding-bottom: 100px;
}

.history__img {
  margin-top: 25px;
  margin-bottom: 70px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.history__img div {
  width: 90%;
}

.history__img div img {
  width: 100%;
}

.history__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 85px;
}

.history__block-item {
  margin-top: 30px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.history__block-item:first-child {
  margin-top: 0;
}

.history__block-item img {
  width: 100px;
}

.history__block-item p {
  margin: 0;
  margin-left: 30px;
  font-size: 24px;
}

@media only screen and (max-width: 1199px) {
  .history {
    padding-top: 75px;
    padding-bottom: 80px;
  }
  .history__img {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .history__img div {
    width: 95%;
  }
  .history__block {
    padding-left: 50px;
  }
  .history__block-item {
    margin-top: 25px;
  }
  .history__block-item img {
    width: 90px;
  }
  .history__block-item p {
    margin-left: 25px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .history {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .history__img {
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .history__img div {
    width: 95%;
  }
  .history__block {
    padding-left: 30px;
  }
  .history__block-item {
    margin-top: 25px;
  }
  .history__block-item img {
    width: 80px;
  }
  .history__block-item p {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .history {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .history__img {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .history__img div {
    width: 95%;
  }
  .history__block {
    padding-left: 15px;
  }
  .history__block-item {
    margin-top: 20px;
  }
  .history__block-item img {
    width: 60px;
  }
  .history__block-item p {
    margin-left: 15px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .history {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .history__img {
    display: none;
  }
  .history__block {
    margin-top: 30px;
    padding-left: 15px;
  }
  .history__block-item {
    margin-top: 20px;
  }
  .history__block-item img {
    width: 50px;
  }
  .history__block-item p {
    margin-left: 15px;
    font-size: 16px;
  }
}
